{% extends 'fqp/wo_approver/approver_base.html' %}
 {% load static %} {% block body %}



<div class="ed-information">
    <div class="card ed-card-block">
      <div class="ed-card-inner">
        <div class="card-header">
          <h2>
            To Do List
          </h2>
        </div>
        <div class="card-body">
          <div class="ed-tableinfo-block">
            <div class="table-responsive">
  <table class="table table-bordered table-striped display text-center ">
    <thead class="table-dark">
      <tr>
          <th>Pending Work</th>
          <th>Details</th>          
          <th>Action</th>
          
      </tr>
    </thead>
    <tbody>

<tr>
  {% if len_wo_data != 0 %}
    <td>WO Approval</td>
    <td>WO approval and digital sign</td>    
    <td><a href="/fqp/pending_wo_approval" class="btn btn-info btn-sm">GO TO</a></td></td>
    
</tr>
{% endif %}

<tr>
  {% if len_tkc_data != 0 %}
    <td>DI Approval</td>
    <td>DI approval and digital sign</td>    
    <td><a href="/fqp/pending_di_list_data" class="btn btn-info btn-sm">GO TO</a></td></td>

  </tr>
  {% endif %}

  <tr>
    {% comment %} {% if len_fqp_data != 0 %} {% endcomment %}
      <td>Only for Information</td>
      <td>FQP Intimation</td>    
      <td><a href="/fqp/officer_fqpintimation_data" class="btn btn-info btn-sm">GO TO</a></td></td>
  
    </tr>
    {% comment %} {% endif %} {% endcomment %}

  
    <tr>
      
        <td>Only for Information</td>
        <td>New FQP Intimation</td>    
        <td><a href="/fqp/new_fqpintimation_data" class="btn btn-info btn-sm">GO TO</a></td></td>
    
      </tr>

  <tr>
  {% if len_mrc_data != 0 %}
  <td>Only for Information</td>
  <td>MRC</td>    
  <td>

  <a href="/tkc/mrc_offer_list" style="color:white"><button class="btn btn-info btn-sm">GO TO</a></td>
  
</tr>
{% endif %}
    

    
    </tbody>
  </table>
</div>
</div>


{% endblock body %}

