{% extends 'fqp/wo_approver/approver_base.html' %}
{% load static %}
{% load wo_tag %}
{% block pagetitle %} Bank Details Information {% endblock pagetitle %}
{% block body %}

<div class="ed-information mb-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card ed-card-block">
                <div class="card-header">
                    <h2>
                        Bank Details
                    </h2>
                </div>
                <div class="card-body">
                    <div class="ed-tableinfo-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered ed-table-block ed-centertable text-center ">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Bank Name</th>
                                        <th>Account Holder Name</th>
                                        <th>IFSC</th>
                                        <th>Account Number</th>
                                        <th>Cancel Check</th>
                                        <th>Action</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Supply in Bank %}
                                    <tr>
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{Supply.Bank_name}}
                                        </td>
                                        <td>
                                            {{Supply.Account_Holder_Name}}
                                        </td>
                                        <td>
                                            {{Supply.IFSC}}
                                        </td>
                                        <td>
                                            {{Supply.Account_Number}}
                                        </td>
                                        <td>
                                            <a target="_blank" href="{{Supply.cancel_check.url}}">
                                                <button class="btn ed-submit btn-success">
                                                    <span class="ed-submit-text">
                                                        View
                                                    </span>
                                                </button>
                                            </a> 
                                        </td>
                                        <td>{% if Supply.bank_approved == 0 %}
                                            <button class="btn ed-submit btn-success">
                                                <span class="ed-submit-text">
                                                    Pending
                                                </span>
                                            </button>

                                            {% elif Supply.bank_approved == -1 %}
                                            <a href="" class="btn ed-submit btn-danger">
                                                <span class="ed-submit-text">
                                                    Rejected
                                                </span>
                                            </a>
                                            {% elif Supply.bank_approved == 1 %}
                                            <a href="" class="btn ed-submit btn-success">
                                                <span class="ed-submit-text">
                                                    Approved
                                                </span>
                                            </a>

                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if Supply.approved_remark %}
                                            <span class="ed-submit-text">
                                                {{ Supply.approved_remark}}
                                            </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 


{% endblock body %}