{% extends 'fqp/wo_approver/approver_base.html' %}
{% load static %}
{% block pagetitle %} Order Information {% endblock pagetitle %}
{% block body %}

<style>
   
    
    .ed-tableinfo-block .dataTables_length{
        display: block;
    }
.ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
    background: #e5e9ed;
    color: #fff;
    border-color: #1b1c1c;
}
  
</style>
<div class="ed-infocontant">
    <div class="ed-information mb-4">
        <div class="card ed-card-block">
            <div class="card-header">
                <h2>
                    Update Order information 

                </h2>
            </div>           
            <div class="card-body">
                <p
                    style="align-items:Center;color: rgb(132, 0, 255);font-size: medium; text-align: center; font-weight: 700;">
                    {% if msg1 %}
                    {{ msg1 }}
                    {% endif %}
                </p>
                <!-- <form action="/tkc/gm_verify_boq/{{wo_instance.id}}" method="POST" name="myform" id="myform" onsubmit="return validateForm()"> -->
                <div class="ed-tableinfo-block ed-orderinfo-block ">
                    <div class="table-responsive">
                        <div><label><b>Work Order No:-</b></label>
                            {{wo_instance.Contract_Number}} <br>
                        </div>
                        <div><label><b>Subject:-</b></label>
                            {{wo_instance.Header.Contract_Description}} <br>
                        </div>
                        <div><label><b>Date:-</b></label>
                            {{wo_instance.Contract_Date}} <br>

                        </div>
                        <table class="table table-striped ed-table-block display table-bordered">
                            <thead>
                                <tr>
                                    <th class="wc1" style="min-width:15px;">Sr. No.</th>
                                    <th class="item_code" style="min-width:150px;">Item Code</th>
                                    <th style="min-width:150px;">Material Name</th>
                                    <th style="min-width:60px;">Total Order Qty</th>
                                    {% for data in approved_circle %}
                                    <th style="min-width:140px;" class="circle">{{data}}</th>                                 
                                    <th style="min-width:140px;" class="circle">{{data}} GM Quantity</th>
                                     {% endfor %}
                                </tr> 
                            </thead>                 
                            <tbody>
                                {% for data in boq_data %}   
                                <tr>   
                                    <td>{{forloop.counter}}</td> 
                                    <td>{{data.item_code}}</td>  
                                    <td>{{data.material_name}}</td>
                                    <td>{{data.total_order_qty}}</td> 
                                    {% for key,value in item_dict.items %}                                   
                                    {% if data.item_code == key %}                               
                                    {% for a in value %}                                   
                                    <td>{{a}}</td>
                                   
                                    {% endfor %}                                    
                                    {% endif %}
                                    {% endfor %}
                                   
                                </tr>    
                                {% endfor %} 
                                                        
                            </tbody>
                        </table>
                        <table class="table table-striped ed-table-block display table-bordered">
                               
                            {% comment %} <tbody>
                            <tr>
                                <th style="min-width:150px;">PMA Remarks</th>
                                {% for pma_data in pma_recommendation_data %}
                                <td>{{pma_data}}</td> 
                                {% endfor %}                                  
                            </tr>
                            <tr>
                                <th style="min-width:60px;"> GM Remarks</th>
                                {% for gm_data in gm_recommendation_data %}
                                <td>{{gm_data}}</td> 
                                {% endfor %}
                                                             
                            </tr>
                        </tbody> {% endcomment %}
                        
                  <table class="table table-striped ed-table-block display table-bordered" id="proj_requested_data">
                            <thead>
                                <tr>
                                    <th class="wc1" style="min-width:15px;">Sr. No.</th>
                                    <th style="min-width:150px;">Material Name</th>
                                    <th class="item_code" style="min-width:150px;">Item Code</th>                                   
                                    <th style="min-width:140px;">Circle Name</th>
                                    <th style="min-width:140px;">Circle Qty.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for new_material in requested_data %}
                                <tr>
                                    <td class="text-center">{{forloop.counter}}</td>
                                    <td>{{new_material.material_name}}</td>   
                                    <td>{{new_material.item_code}} </td>                                                                
                                    <td class="text-center">{{new_material.circles_name}}</td> 
                                    <td class="text-center">{{new_material.gm_verified_circle_qty}}</td>
                                </tr> 
                        {% endfor %}
                            </tbody>
                        </table> 

            </div>

        </div>
    </div>
</div>
</div>
                    


{% comment %} <script>
     $(document).ready(function () {
        $('#proj_data').DataTable({
            pagingType: 'full_numbers',
        });
    }); 
    $(document).ready(function () {
        $('#proj_requested_data').DataTable({
            pagingType: 'full_numbers',
        });
    });
   
</script> {% endcomment %}
{% endblock body %}
