{% extends 'tkc/creater_base.html' %} {% load static %} {% block body %}

<head>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-md-12 mx-auto">
            <div class="card-header pb-0 pt-3 bg-transparent">
                <h4 class="text-capitalize">Instructions</h4>
                <!--                    <p class="text-sm mb-0">-->
                <!--                        <i class="fa fa-arrow-up text-success"></i>-->
                <!--                        <span class="font-weight-bold">By uploading any document, all the pages related to that document will have-->
                <!--              to be re-uploaded.</span>-->
                <!--                    </p>-->
            </div>
            <div class="card-body">
                <section class="mbr-section article content1 cid-qv5zjZaZyh" id="content1-15" data-rv-view="5943">

                    <div class="container">
                        <div class="media-container-row">
                            <div class="mbr-text col-md-12 col-md- mbr-fonts-style display-7">
                                <article>
                                    <!--                                        <h6>After reporting any service, you will have to upload the necessary documents to you.</h6>-->
                                    <p></p>
                                    <ul>
                                        <li>All files should be in PDF format. (.pdf extension)</li>
                                        <li>Maximum file size (for each) should be 2 MB.</li>
                                        <li>All documents must be self attested by authorised signatory with company’s
                                            seal.</li>
                                        <li>All documents must be in coloured format.</li>
                                    </ul>
                                </article>
                            </div>
                        </div>

                        <div class="button-row d-flex mt-4">

                            <a href="tkc_reg_eight"><button class="btn bg-gradient-primary ms-auto mb-0" type="submit"
                                    title="Send">Save And Next</button></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock body %}