{% extends 'officer/dgm_stc_login.html' %}
{% load static %}
{% block heading %} MRC Format {% endblock heading %}
{% block body %}

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

  
</head>
<body>




    <style>
        .table td, .table th {
            border: 0;
        }
        .table-bordered td {
            border: 1px solid #dee2e6 !important;
            vertical-align: middle;
            padding: 8px 0.75rem;
        }
    </style>

<form method="POST">
    {% csrf_token %}
    <div class="form-group mt-3">
        <div class="mrcser-block">
            <table style="border: 1px solid #ccc; margin:0 auto; margin-left:0%; width:100%;background:#fff;">
                <tr>
                    <td style="padding: 40px; border:0px solid #000;">
            
                        <table style="border: 0; width:100%; margin-bottom:20px;">
                            <tr>
                                <td style="padding: 4px;">
                                    <div class="cgm-logo-block">
                                        {% if offer.wo.zone == 'CZ' %}
                                        <img src="{% static 'assets/images/header.png' %}" alt="͝" class="cgm-logo"
                                            style="width:100%">
                                        {% elif offer.wo.zone == 'WZ' %}
                                        <img src="{% static 'assets/images/header_mppk.png' %}" alt="͝" class="cgm-logo"
                                            style="width:100%">
                                        {% elif offer.wo.zone == 'EZ' %}
                                        <img src="{% static 'assets/images/header_mppk1.png' %}"
                                            style="width:100%; border-bottom: 0px solid #000; padding-bottom: 0px;"
                                            alt="͝">
                                        
                                        {% endif %}
                                    </div><br><br>
                                    <h4 style="text-align: center; text-transform: uppercase; font-size: 24px;
                                    font-weight: 700; margin: -8px 0 0;">
                                        Material Received certificate
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                            
                        </table>
            
                        

                    <table class="table mrcser-tableinfo">
                        


                        <tr>
                            <td class="text-right"> </td>
                                
                            <td class="text-right">
                                <div class="d-inline-block text-left">
                                    <span class="text-left ">
                                        {% comment %} MRC No. IPDS/ .....................(Circle):-{{data.offer.circle}} <br> {% endcomment %}
                                        MRC No <span id="mrc_no">{{pr.id}}</span>,(Circle):-{{offer.circle.Circle_Name_E}} 
                                    </span> <br>
                                    <span >Date :-
                                        {%if offer.tkc_mrc_initiate %}
                                            
                                           <span id='date'> {{pr.date}} </span>

                                        {% else %}
                                        {% comment %} Date :- {{data.date}} <br> {% endcomment %}
                                            <input type="date" id="mrc_date" class="form-control ed-textbox d-inline-block w-auto" value="" name="mrc_order_date" required/><br>

                                        {% endif %}

                                    </span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                (i) Circle:-{{offer.circle.Circle_Name_E}} , Lot No / Offer No:- {{offer.offer_no}} <br>
                                
                                
                                (ii) Name of the Contractor :- M/s {{offer.supplier.CompanyName_E}}

                                
                            </td>
                            <td> 
                                (iii) LoA No:- {{offer.wo.Contract_Number}} & Date : {{offer.wo.Contract_Date}} <br> 
                                (iv) Contractor Store at:-{{offer.site_store}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2" class="w-40">
                                            Details of material with Capacity/Size
                                        </td>
                                        <td class="w-60">
                                            {{offer.wo_material.material_name}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Name of Manufacturer
                                        </td>
                                        <td>
                                            {{offer.TKCVendor.Vendor}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">
                                            Dispatch Instruction <br> DI
                                        </td>
                                        <td> DI No.</td>
                                            
                                            <td class="w-20">{{offer.tkc_di.erp_di_number}}</td>
                                    </tr>
                                    <tr>
                                        <td> Date </td>
                                        <td>{{offer.tkc_di.created_date}}</td>
                                    </tr>
                                    <tr>
                                        <td> Qty. </td>
                                        <td>{{offer.quantity}}</td>
                                    </tr>
                                    <tr>
                                        <td> Unit </td>
                                        <td>{{offer.wo_material.uom}}</td>
                                    </tr>
                                    
                                    
                                </table>
                                <table class="mt-2 mb-2 table table-bordered table-received">
                                    <tr>
                                        <th rowspan="5">    
                                            Receiving Details
                                        </th>
                                    </tr>

                                    <tr>
                                        <th>
                                            Date of Delivery
                                        </th>
                                        <th>
                                            Lorry No.
                                        </th>
                                        <th>
                                            Challan No. & Date
                                        </th>
                                        <th>
                                            Qty. Dispatched as per Challan
                                        </th>
                                    </tr>   
                                    
                                    {% for i in ss %}
                                    <tr>
                                        <td>{{i.drr_date}}</td>
                                        <td>{{i.drr_vehicle}}</td>
                                        <td>{{i.drr_challan_no}} & {{i.drr_challan_date}}</td>
                                        <td>{{i.drr_quantity}}</td>
                                    </tr>
                                    {% endfor %} 
                                    
                                </table>

                                    

                                <table class="table table-bordered">
                                    <tr>
                                        <td rowspan="4">
                                            NABL Test Result
                                        </td>
                                        <td>
                                            Sampled Qty
                                        </td>
                                        <td>
                                            {{sampled_qty}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Passed Qty  
                                        </td>
                                        <td>
                                            {{sampled_qty}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Failed Qty
                                        </td>
                                        <td>
                                            {{rej_mat}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Damaged Due To Test
                                        </td>
                                        <td>
                                            {{damaged_mat}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Qty. Accepted
                                        </td>
                                        <td>
                                            {{offer.quantity}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Qty. Rejected
                                        </td>
                                        <td>
                                            0

                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="2">
                                            Details of inspection report
                                        </td>
                                        <td>

                                            <a {% if pi.report %} href="{{pi.report.url}}" {% else %} onclick="alert('No Data Found')" {% endif %} target="_blank" class="ed-links mr-2">
                                                <label class="ed-textinfo text-info"> 
                                                Physical inspection link
                                                </label>
                                            </a>
                                            ,
                                            <a href="/tkc/tkc_mrc_nabl_report_stc/{{offer.id}}" class="ed-links mr-2">
                                                <label class="ed-textinfo text-info"> 
                                                NABL inspection link
                                                </label>
                                            </a>
                                            ,
                                            <a {% if offer.PDI.pdi_report %} href="{{offer.PDI.pdi_report.url}}" {% else %} onclick="alert('No Data Found')" {% endif %} target="_blank" class="ed-links ">
                                                <label class="ed-textinfo text-info"> 
                                                PDI inspection link
                                                </label>    
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Remark
                                        </td>
                                        <td>
                                            {%if offer.tkc_mrc_initiate %}

                                            {{pr.remark}}

                                            {% else %}

                                            
                                            <input type="text" class="form-control ed-textbox" value="" name="remark" required/>

                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <ul class="listinfo mb-4">
                                    <li class="nav-item">
                                        The Above material have been received in good conditions & verified on
                                        Dated {{sss.drr_date}} at Contractor store.
                                    </li>

                                    
                                    <li class="nav-item">
                                        (ii) Physically above quantity of material handed over to TKC for security and
                                        utilization of material in this project.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <table style="width:100%; vertical-align:top;">
                        <tr>
                            
                            
                            <td style="width:33.33%;">
                                <div class="text-center pl-4 d-inline-block">
                                    TKC Site Incharge <br>
                                    {{offer.supplier.CompanyName_E}}
                                </div>
                            </td>
                            
                            <td style="width:33.33%;">
                                <div class="text-center">
                                    FE/FS(PMA) <br>
                                </div>
                            </td>

                            <td style="width:33.33%;">
                                <div class="text-right pr-4">
                                    <div class="text-center d-inline-block">
                                        DGM(STC) <br>
                                    (Nodal Officer) <br>
                                    {% if offer.wo.zone == 'CZ' %}
                                    {{offer.site_store_fk.Division.Circle}} <br>
                                    MPMKVVCL , Bhopal 
                                    
                                    {% elif offer.wo.zone == 'WZ' %}
                                    {{offer.site_store_fk.Division.Circle}} <br>
                                    MPPKVVCL , Indore 
                                    
                                    {% elif offer.wo.zone == 'EZ' %}
                                    {{offer.site_store_fk.Division.Circle}} <br>
                                    MPPoKVVCL , Jabalpur 
                                    
                                    {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table class="table-projectm" style="width:100%;">
                                    <tr>
                                        
                                        <td class="text-right">
                                            
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <p id="notes"> 
                        <b> Note :- </b>  Please upload the Digital signed MRC from Create And View MRC options available on the left menu
                    </p>
                    </td>
                </tr>
            </table> 
        </div>
    </div>

        <div class="form-group mt-3" id="printoptions"> 
            <div class="text-center">
                
                <button class="btn btn-info" type="submit" id='sub_btn'>
                    Save
                </button>
                 
            <button class="btn btn-info" onclick="windowprint()" id='print_btn'>
                Print
            </button>
             
            </div>
        </div>      
    </div>
</div>
</div> 
    
</form> 

<script>
    function windowprint(){  
        document.getElementById('edSidebar').style.display='none';
        document.getElementById('edHeader').style.display='none';
        document.getElementById('printoptions').style.display='none'; 
        document.getElementById('notes').style.display='none'; 
         
        $('#edContainer').css('padding','0');
        $('.ed-textbox').css('border','0');
        $('.ed-pagetitle-block').hide();
        $('.ed-footer-block').hide();  
        window.print();   
        document.getElementById('edHeader').style.display='block'; 
        document.getElementById('edSidebar').style.display='block'; 
        document.getElementById('printoptions').style.display='block';
        document.getElementById('notes').style.display='block';  
        $('#edContainer').removeAttr('style');
        $('.ed-textbox').css('border-width','1px');
        $('.ed-pagetitle-block').show();
        $('.ed-footer-block').show();  
    }

    $(function() {
        $("#mrc_date").keypress(function(event) {
             event.preventDefault();
            return false;
        });
   });

</script>

    <style>
        .mrcser-block {
            position: relative;
        }

        .mrcser-block .mrcser-item {
            position: relative;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo {
            width: 100%;
        }

        .mrcser-block .mrcser-item .logo-block {
            position: relative;
            margin: 0 0 10px;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo td {
            font-size: 14px;
            font-weight: 500;
            padding: 4px;
            line-height: 32px;
            border: 0;
            vertical-align: middle;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo td .listinfo {
            padding-left: 12px;
            list-style: upper-roman;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo td .listinfo .nav-item {
            width: 100%;
            margin: 0 0 4px;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo td .table-projectm {
            width: 100%;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo td .table-projectm td {
            width: 33.333%;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo .table-bordered {
            width: 100%;
        }

        .mrcser-block .mrcser-item .mrcser-tableinfo .table-bordered td {
            border: 1px solid #dee2e6;
            padding: 10px;
            text-align: left;
        }

        .w-40 {
            width: 40%;
        }

        .w-60 {
            width: 60%;
        }

        .w-20 {
            width: 20%;
        }
        .table-received {
            border: 1px solid #dee2e6 !important;
        }
        
        .table-received th, .table-received td {
            vertical-align: middle;
        }
        
        .table-received {}
        
        .table-received th {border: 1px solid #dee2e6 !important;}
    </style>












</body>
<script>
    let mrc_no = document.getElementById('mrc_no');
    let print_btn = document.getElementById('print_btn');
    let sub_btn = document.getElementById('sub_btn');
    window.addEventListener('load',(e)=>{
       if(mrc_no.innerText != "" || null){
          e.preventDefault()
       }
    })
    let date = document.getElementById('date');
    console.log(date)
    
    console.log(mrc_no.innerText,print_btn,sub_btn);
    if(mrc_no.innerText == ""){
      print_btn.disabled = true;
      sub_btn.disabled = false; 
    }else{
       sub_btn.disabled = true;
       print_btn.disabled = false;
    }

    
</script>
{% endblock body %}