{% extends 'tkc/creater_base.html' %} {% load static %} {% block body %}
<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="card mt-5" >  
                <div class="card-body">
                <p> 
                    <input type="checkbox" id="one" required>
                    <!-- <span id="checkk" class="text-danger font-weight-bold" style="font-size: 80%;"></span> -->
                    मैं घोषणा करता हूँ  /करती हूँ  कि - 
                </p>
                <p> 
                    1. पंजीयन/नवीनीकरण/अपग्रेडेशन  हेतु ऑनलाईन अपलोड किए  गए समस्त  दस्तावेज व विवरण मेरी जानकारी अनुसार सत्य व सही है | पंजीयन प्रक्रिया के दौरान अथवा पंजीयन पश्चात भी यदि दस्तावेज फर्जी पाये जाने पर मेरा पंजीयन निरस्त करने का अधिकार कंपनी को होगा|
                </p>
                <p> 
                    2. मैं कंपनी द्वारा निर्धारित समस्त नियमों एवं समय-समय पर जारी किए जा रहे दिशा-निर्देशों का पालन सुनिश्चित करूंगा/करूंगी|
                </p>
                <p>
                    3. कम्‍पनी‍ द्वारा  निर्धारित   मापद्‍‍ड ‍ के ‍ अनुरूप‍ सामग्री  एवं‍ कार्य की  गुणवत्‍ता‍  सुनिश्चित  करने‍ के ‍ क्‍यू.सी.पोर्टल‍ पर‍ उपलब्‍ध‍ परिपत्र  क्रमांक  94‍ दिनांक 20.06.2022 में‍ निहित दिशा-निर्देशों  का‍ पालन‍  सुनिश्चित करूंगा/करूंगी ‍| 
                </p>
                <p>
                    4. कार्य की  गुणवत्‍ता‍ अथवा‍ सामग्री  की  गुणवत्‍ता‍ में‍ कमी‍ पाए‍ जाने‍ पर‍ तत्‍काल‍ सामग्री बदलकर‍ एवं‍ उचित  गुणवत्‍ता‍ अनुसार‍ कार्य में‍ सुधार‍ कर‍ स्‍वयं‍ के ‍ व्यय  पर‍ कार्य का‍ निष्पादन  समय-सीमा‍ में‍ करूंगा/करूंगी|
                </p>
                <p>
                    5. यदि किसी भी‍ कारण‍ से‍ मेरा‍ पंजीयन‍ ब्‍लेक‍ लिस्ट  किया  जाता‍ है तो‍ मेरी‍ पंजीयन‍ सुरक्षानिधि  को‍ राजसात‍ करने‍ का‍ अधिकार कंपनी को होगा|
                </p>
                <p>
                    6.  कम्‍पनी‍ पोर्टल‍ पर‍ उपलब्‍ध‍ परिपत्र  क्रमांक 783 दिनांक 24.09.2021 में‍ निहित दिशा-निर्देशों ‍तथा‍ समय-समय‍ पर‍ जारी‍ किए  गए निर्देशोंके अनुरूप‍ कार्य  निष्पादन सुनिश्चित  करूंगा/करूंगी ‍|
                </p>
                <p>
                    7. केंद्रीय विद्युत् प्राधिकरण ( विद्युत्  आपूर्ति  एवं सुरक्षा से सम्बंधित उपाय) विनियमन 2010‍ में‍ संशोधन‍ हेतु‍ गजट अधिसूचना  क्रमांक 34‍ दिनांक 01‍मार्च  2013‍ के ‍अनुरूप‍ विद्युत् अधोसंरचना को  चार्जिंग परमिशन की प्रक्रिया सुनिश्चित करूंगा/करूंगी ‍|
                </p>
                <p>
                    8. मेरे  द्वारा  ओ.वाय.टी. योजना‍ अंतर्गत निष्पादित किये  गए  कार्यो में‍ से‍ 3‍ से‍ अधिक कार्य हैंडओवर हेतु  लम्बित होने  पर  मुझे‍ कम्‍पनी‍ पोर्टल‍ पर‍ ब्‍लाक‍  किये जाने  का पूर्ण  अधिकार कम्‍पनी‍ को‍ होगा|  ‍ 
                </p>
                <p>
                    9. मुझे‍ /मेरे‍ परिवार के  ‍सदस्‍य‍ को‍ पूर्व  में‍ किसी  भी विद्युत वितरण  कम्‍पनी‍ द्वारा ब्‍लेक‍ लिस्ट नहीं किया गया है | 

                </p>
                <p>
                    10. मेरे द्वारा  निष्पादित करवाए जा रहे  कार्या का निरीक्षण, नियमित रूप से मेरे अधिनस्थ  सुपरवाईजर द्वारा किया जावेगा|
                </p>
                <p>
                    11. मैं स्वयं के पक्ष में कार्यादेश/एल.ओ.ए. अथवा कार्य की अनुमति बिना कोई भी कार्य 
                    संपादित  नहीं  करूंगा/करूंगी   अवैध रूप से कार्य पाए जाने पर बिना किसी अतिरिक्‍त सूचना दिए,  मेरा पंजीयन निरस्त  कर मुझे ब्‍लेक लिस्ट किए  जाने का अधिकार कंपनी को होगा| 
                </p>
                <p>
                     12. मैं कोई भी त्रुटीपूर्ण/गलत देयक  प्रस्तुत नहीं करूंगा|
                </p>
                <p>
                    13. मैं लाईन डायग्राम में दर्शायी गयी जी.पी. एस. लोकेशन अनुसार ही कार्य का निष्पादन करूंगा|
                </p>
                <p>
                    14.मेरा पंजीकरण किसी  भी समय बिना अतिरिक्‍त नोटिस के निरस्त करने का अधिकार कंपनी का होगा|
                </p>

                        <div class="button-row d-flex mt-4">
                            <a href="tkc_reg_eleven"> 
                            <!-- <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev" onclick="history.back()">Prev</button> -->
                            <button class="btn bg-gradient-primary ms-auto mb-0" onclick="check()" type="submit" title="Send">Save And Next</button>
                        </a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <script>
    function check(){
        console.log("fireeeeeeeeeeee")
         let num = document.getElementById("one").checked;
        if(num == false){
            document.getElementById("checkk").innerHTML = " please fill required field."
        }
        else{
            document.getElementById("checkk").innerHTML = " ";
        }
    }
</script> -->

















{% endblock body %}