{% extends 'tkc/creater_base.html' %} {% load static %} {% block body %} {% block activation_payment_check %}
<li class="nav-item active" style="list-style-type: none;">
    {% endblock activation_payment_check %}

    <head>
        <script type="text/javascript">
            window.history.forward();

            function noBack() {
                window.history.forward();
            }
        </script>
    </head>

    <div class="ed-information mb-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="card ed-card-block">
                    <div class="card-header">
                        <h2>
                            Your Profile is Under Review
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="text-center">
                                <a href="basic ">
                                    <button class="btn ed-submits ed-formsubmit"  type="submit"
                                        title="Send">
                                        Back
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- <div class="ed-tableinfo-block">
                            <div class="table-responsive">
                                <table
                                    class="table table-striped table-bordered ed-table-block ed-centertable text-center "
                                    id="content1-15">
                                    <thead> -->

    <!-- <h4 class="text-capitalize">Instructions</h4> -->
    <!--                    <p class="text-sm mb-0">-->
    <!--                        <i class="fa fa-arrow-up text-success"></i>-->
    <!--                        <span class="font-weight-bold">By uploading any document, all the pages related to that document will have-->
    <!--              to be re-uploaded.</span>-->
    <!--                    </p>-->
    <!-- </thead>
                                </table>
                            </div> -->

    <!-- <section class="mbr-section article content1 cid-qv5zjZaZyh" data-rv-view="5943">
                                <div class="container">
                                    <div class="media-container-row">
                                        <div class="mbr-text col-md-12 col-md-mbr-fonts-style         display-7">
                                            <article> -->
    <!--<h6>After reporting any service, you will have to upload the necessary documents to you.</h6>-->

    <!-- <ul>
                                                 <li>Contractor Your Profile Under Review.</li>
                                                    </ul> -->
    <!-- </article>
                                        </div>
                                    </div> -->










    <!-- </div>
                </section>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</li> -->



    {% endblock body %}