{% extends 'officer/dgm_stc_login.html' %}
{% load static %}
{% block heading %} MRC Format {% endblock heading %}
{% block body %}


<form action="/tkc/upload_digi_tkc_mrc_stc/{{tr.id}}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="venreg-blocks">
        <div class="ed-card-inner">
            <div class="card-header">
                <h2>
                    Digitally Signed
                </h2>
            </div>
            <div class="card-body">
                <h6 class="">
                    Upload digitally signed pdf here 
                </h6>
                <div class="form-group">
                    <input type="file" name="digi_pdf_tkc" id="signedpdf" accept="application/pdf" required>
                </div>  
                <div class="form-group">
                    <div class="text-right"> 
                        <a href="/tkc/tkc_mrc_sign_list_stc/{{tr1.id}}" class=""><button type="submit" class="btn ed-submits  ed-formSubmit" value="Submit" onclick="filevalidtion()">Submit</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  

 




      
    </div>
</form>


<script>
    function filevalidtion() {
      var x = document.getElementById("signedpdf");
      console.log(x.value); 

      if(x.value == ""){
        alert('Please Upload File !!');
        return false;
      }
      
    }
    </script>





{% endblock body %}