{% extends 'fqp/wo_creater/creater_base.html' %}
{% load static %}
{% block pagetitle %} Create Work Order {% endblock pagetitle %}
{% block body %}
  <div class="ed-information mb-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card ed-card-block">
                                <div class="card-header">
                                    <h2>
                                        Create Work Order
                                    </h2>
                                </div>
                        <form action="/fqp/procurement_generate_wo" onsubmit="return validateForm()" name="myForm" method="POST">
                           {% csrf_token %}
                                <!-- --------------------- Step 1 -------------------------------- -->
                                <div class="card-body" id="formStep1">
                                    <div class="ed-form-block">
                                        <div class="ed-form-title">
                                            <h6>
                                                <span class="ed-text">
                                                    Work Order Details
                                                </span>
                                            </h6>
                                        </div>
                                        <div class="ed-form-body">
                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    Select Supplier Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <select name="vendor" class="form-control ed-textbox" required>
                                                     <option value="">Please Select</option>
                                                    {% for data in vendor %}
                                                    <option value="{{data.User_Id}}">{{ data.CompanyName_E }}</option>
                                                   {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    Enter Supplier  Id
                                                </label>
                                                <input type="Number" name="supplier_id" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                             <div class="form-group">
                                                <label class="ed-form-label">
                                                    Enter Contract No
                                                </label>
                                                <input type="Number" name="contract_no" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    Contract Date
                                                </label>
                                                <input type="date" name="contract_date" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    Contract Effective Date
                                                </label>
                                                <input type="date" name="contract_effective_date" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    Scheme Code <span class="text-danger">*</span>
                                                </label>
                                                <input type="Number"  name="scheme_code" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    Scheme Name <span class="text-danger">*</span>
                                                </label>
                                                <input type="text"  name="scheme_name" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                             <div class="form-group">
                                                <label class="ed-form-label">
                                                    Payment Mode <span class="text-danger">*</span>
                                                </label>
                                                <input type="text"  name="payment_mode" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                             <div class="form-group">
                                                <label class="ed-form-label">
                                                    Payment Term <span class="text-danger">*</span>
                                                </label>
                                                <input type="text"  name="payment_term" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    Quotation No <span class="text-danger">*</span>
                                                </label>
                                                <input type="Number"  name="quotation_no" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                             <div class="form-group">
                                                <label class="ed-form-label">
                                                    Contract Offer No <span class="text-danger">*</span>
                                                </label>
                                                <input type="Number"  name="contract_offer_no" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                               <div class="form-group">
                                                <label class="ed-form-label">
                                                    Contract Offer Date <span class="text-danger">*</span>
                                                </label>
                                                <input type="Date"  name="contract_offer_date" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    Order Description <span class="text-danger">*</span>
                                                </label>
                                                <input type="text"  name="order_description" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    Letter Number Prefix <span class="text-danger">*</span>
                                                </label>
                                                <input type="text"  name="wo_prefix" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>

                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    Work Order Approval Date <span class="text-danger">*</span>
                                                </label>
                                                <input type="date" name="wo_approval_date" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                            <div class="form-group">
                                                <label class="ed-form-label">
                                                    NIT No <span class="text-danger">*</span>
                                                </label>
                                                <input type="text" name="nit_no" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                              <div class="form-group">
                                                <label class="ed-form-label">
                                                    NIT Date <span class="text-danger">*</span>
                                                </label>
                                                <input type="date" name="nit_date" class="form-control ed-textbox" autocomplete="off" required />
                                            </div>
                                            <div class="form-group">
                                                <div class="form-action text-right">
                                                    <button type="submit" class="btn ed-submit ed-submitNext" id="nextStep1">
                                                        <span class="ed-submit-text">
                                                            Next
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </form>

                            </div>
                        </div>
                    </div>
                </div>

{% endblock body %}