Migration
media
MPEB
main/templates/main/main_login.html
logs
api/__pycache__/
main/__pycache__/
fqp/__pycache__/
CA/__pycache__/
Migration/__pycache__/
nabl/__pycache__/
po/__pycache__/
rca/__pycache__/
roof_top/__pycache__/
tkc/__pycache__/
vendor/__pycache__/
*.pyc
api/migrations/
main/migrations/
fqp/migrations/
CA/migrations/
Migration/migrations/
nabl/migrations/
po/migrations/
rca/migrations/
roof_top/migrations/
tkc/migrations/
vendor/migrations/
__pycache__
**/__pycache__
**/migrations
