{% extends 'officer/field_officer.html' %} {% load static %} {% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body ">
                        <h4 class=p-3> NABL Basic Information</h4>
                        <table class="table table-bordered table-hover">
                         <thead class="font-weight-bold text-light bg-dark" style="font-size: 15px;">
                                <tr>
                                    <th style="width:10% ">
                                        Serial Number</th>
                                    <th style="width: 40% ">
                                        Report Name </th>
                                    <th style="width:40% ">
                                        Value </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Type of Business</td>
                                    <td><b>{{data.Type_of_business}}</b></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Authorised Person Name</td>
                                    <td><b>{{data.Authorised_person_E}}</b></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Company Name</td>
                                    <td><b>{{data.CompanyName_E}}</b></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Contact Number</td>
                                    <td><b>{{data.ContactNo}}</b></td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Email ID</td>
                                    <td><b>{{data.Email_Id}}</b></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td> Type</td>
                                    <td><b>{{data.User_type}}</b></td>
                                </tr>

                              
                                <tr>
                                    <td >7</td>
                                    <td>Company GST No</td>
                                    <td>{{add_data.Company_Gst_No}}</td>
                                </tr>
                               <tr>
                                    <td >8</td>
                                    <td>Pan Card No</td>
                                    <td>{{add_data.Company_Pan_No}}</td>
                                </tr>
                                    <tr>
                                    <td >9</td>
                                    <td>Company Gumastha No</td>
                                    <td>{{add_data.Company_Gumastha_No}}</td>
                                </tr>
                                    <tr>
                                    <td >10</td>
                                    <td>Company Registration_Date</td>
                                    <td>{{add_data.Registration_Date}}</td>
                                </tr>
                                 <tr>
                                   <td colspan="3" class="font-weight-bold text-light bg-dark text-center" style="font-size: 15px;"> Company Address</td>
                                <tr>
                                    <tr>
                                    <td >11</td>
                                    <td>Add 1</td>
                                    <td>{{add_data.Company_add_1}}</td>
                                </tr>
                                    <tr>
                                    <td >12</td>
                                    <td> Add 2</td>
                                    <td>{{add_data.Company_add_2}}</td>
                                </tr>
                                    <tr>
                                    <td >13</td>
                                    <td>Pin Code</td>
                                    <td>{{add_data.Company_pin_code}}</td>
                                </tr>
                                    <tr>
                                    <td >14</td>
                                    <td>District</td>
                                    <td>{{add_data.Company_dist}}</td>
                                </tr>
                                    <tr>
                                    <td>15</td>
                                    <td>State</td>
                                    <td>{{add_data.Company_state}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="font-weight-bold text-light bg-dark text-center"
                                        style="font-size: 15px;"> Bank Details</td>
                                <tr>
                                <tr>
                                    <td>16</td>
                                    <td>Bank Name</td>
                                    <td>{{bank_details.Bank_name}}</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td> Account Holder Name</td>
                                    <td>{{bank_details.Account_Holder_Name}}</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Account Number</td>
                                    <td>{{bank_details.Account_Number}}</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>IFSC</td>
                                    <td>{{bank_details.IFSC}}</td>
                                </tr>
                              
                             
 

                            <tr></tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-header -->



                     
                      
              <form action="/tkc_cgm_evaluate_save/{{data.User_Id}}" method="POST">
                {% csrf_token %}
 <div class="table-responsive">
                 <table class="table table-bordered table-hover">
                <thead class="font-weight-bold text-light bg-dark" style="font-size: 15px;">
                    <tr>
                        <th> Document Name </th>
                      
                        <th> View Document</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% with name=100 %} {% for data in doc %}
                    <tr>
                        <td><b>{{data.Types_of_Docs}}</b></td>
                        
                        <td class="text-center"> <a href="{{data.Ddocfile.url}} " target="_self" class="fas fa-eye text-secondary"></a></td>
                    
                       
                      </tr>
                    {% endfor %} {% endwith %}
               <tr></tr>
                </tbody>
                </table>
            </div>
          
        </form>
    </div>
</div>
{% endblock body %}