{% extends 'officer/field_officer.html' %}
{% load static %}
{% load cart %}
{% block body %}


<div class="ed-allcontracterinfo">
  <div class="container-fluid">
    <div class="card ed-card-block mt-2">
      <div class="ed-card-inner">
        <div class="card-header">
          <h2>
            Contractor status check
          </h2>
        </div>
        <div class="card-body">
          <div class="allcontracterinfo-item">
            <div class="ed-form-block border-0 p-0  mb-4">
              <form>
                <div class="ed-form-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="ed-form-label">
                          Search By User Zone
                        </label>
                        <!-- <input type="search" placeholder="Search" aria-label="Search" name="search" class="form-control ed-textbox" style="text-transform:uppercase;">   -->
                        <select class="form-control ed-textbox" style="text-transform:uppercase;" name="search">
                          <option value="All">All</option>
                          <option value="CZ">CZ</option>
                          <option value="EZ">EZ</option>
                          <option value="WZ">WZ</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="ed-form-label">
                          Search By User Class
                        </label>
                        <div class="input-group">
                          <!-- <input type="search" placeholder="1 or 3 or 5 or 6 or 7 or 8 or 9" aria-label="1 or 3 or 5 or 6 or 7 or 8 or 9" name="status" class="form-control ed-textbox" style="text-transform:uppercase;">  -->
                          <select class="form-control ed-textbox" style="text-transform:uppercase;" name="status">
                            <option value="All">All</option>
                            <option value="1">B</option>
                            <option value="3">A1(With OYT)</option>
                            <option value="5">A2(with OYT)</option>
                            <option value="6">A3</option>
                            <option value="7">A4</option>
                            <option value="8">A5</option>
                            <option value="9">TKC</option>
                          </select>
                          <span class="input-group-addon">
                            <button type="submit" class="btn ed-submits btn-info  mb-2">Search</button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
           {% block active_tkc %}
            <li class="nav-item active" style="list-style-type:none;">
              {% endblock active_tkc %}

              <script>
                function printpage() {
                  var download_var = document.getElementById("download");

                  download_var.style.visibility = 'hidden';

                  window.print()

                  download_var.style.visibility = 'visible';

                }

              </script>
              <div class="ed-tableinfo-block">
                <div class="printinfo">
                  <div class="d-flex justify-content-end">
                    <button class="btn ed-submit btn-primary" id="download" onclick="windowprint()">Print List
                    </button>
                  </div>
                </div>

                <h4 class="mt-2">All Contractor as on {{today}}</h4>
                </form>
                <div class="table-responsive mt-2">
                  <table class="table table-striped table-bordered ed-table-block ed-centertable text-center">
                    <thead class="table-dark">
                      <tr>
                        <th class="w-5 text-center">S.No.</th>
                        <th class="">Discom </th>
                        <th>Registration Number </th>
                        <th>Mobile Number </th>
                        <th>Firm/Company Name </th>
                        <th>Authorised Person Name </th>
                        <th>
                          Contractor Class
                        </th>
                        <th>Valid Up To</th>
                        <th>Status</th>

                        <th>View Certificate</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data,lst_oyt,address in final_lst %}

                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{data.User_zone}}</td>
                        <td>{{data.Authentication_id}}</td>
                        <td>{{data.ContactNo}}</td>
                        <td>{{data.CompanyName_E}}</td>
                        <td>{{data.Authorised_person_E}}</td>
                        <td>{{lst_oyt}}</td>
                        <td>{{data|last_date:doc|date:"d-M-Y"}}</td>
                        {% now "Y-m-d" as to_daaa %}

                        {% if data.Authentication_id and data.blacklisted == 1 %}
                        <td class="text-danger" style="color: red;"> Blacklisted </td>


                        {% elif data.Authentication_id and data.deregister == 0 %}

                        {% if to_daaa <= data|last_date:doc|date:"Y-m-d" %} <td> Active</td>
                          {% else %}
                          <td style="color: red;"> Inactive</td>
                          {% endif %}
                          {% elif data.Authentication_id and data.deregister == 1 %}
                          <td style="color: red;"> Deregistered </td>
                          {% else %}
                          <td>Inactive</td>
                          {% endif %}

                          {% if data.cert_image %}
                          <td class="text-center"> <a href="{{data.cert_image.url}} " class="fas fa-eye text-secondary" target="_self"></a></td>
                          {% else %}
                          <td><h6>FIle Not Uploaded</h6></td>
                          {% endif %}

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
        {% endblock body %}

        <script>

          function windowprint() {
            $('.ed-form-body').hide();
            $('.printinfo').hide();
            $('.card-header').hide();
            window.print();
            $('.ed-form-body').show();
            $('.printinfo').show();
            $('.card-header').show();
          }

        </script>



        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
















