{% extends 'main/mpeb_base.html' %} {% load static %} {% block body %}
<style>
    .ed-tableinfo-block .dataTables_length {
        display: block;
    }

    .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
        background: #e5e9ed;
        color: #fff;
        border-color: #1b1c1c;
    }
</style>

<div>
    <p style="align-items:Center;color: rgb(4, 0, 255);font-size: medium; text-align: center; font-weight: 700;">
        {% if msg1 %}
        {{ msg1 }}
        {% endif %}
    </p>
</div>
<div>
    {% if msg2 %}
    
    <span id="msg" hidden>{{msg2}}</span>
    
    
    {% endif %}
</div>
               <div class="ed-infocontant">
                <div class="ed-information mb-4">
                    <div class="card ed-card-block">
                        <div class="card-header">
                            <h2>
                                All PDI
                            </h2>
                        </div>

                        <div class="card-body">
                            <div class="ed-tableinfo-block ed-orderinfo-block">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover display" id="all_pdi_assigned_data">
                                        <thead class="table-dark">
                                            <tr>
                                                <th class="wc1">Sr. No.</th>
                                                <th class="">WO No.</th>
                                                <th style="min-width:300px;">Wo Subject</th>
                                                <th style="min-width:200px;">Offer No</th>
                                                <th style="min-width: 100px;">Offer Date</th>
                                                <th>TKC Name</th>
                                                <th>Vendor Name</th>
                                                <th>Vendor Address</th>
                                                <th>Inspection Officer</th>
                                                <th>Inspection Date</th>
                                                <th style="min-width: 130px;">Inspection Letter</th>
                                                <th>Offer Acceptance Letter</th>
                                                <th>Action</th>
                                                
                                                <th>Reassign</th>
                                                <th>Accept Status</th>
                                             
                                            
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                        {% for item1,add in pdi_assign %}
                                           
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{item1.wo.Contract_Number}} </td>
                                                    <td>{{item1.wo.Header.Contract_Description}} </td>
                                                    <td>{{item1.offer_no}}</td>
                                                    <td>{{item1.offer_date|slice:"0:11"}}</td>
                                                    <td>{{item1.tkc_name}}</td>                                                
                                                    <td>{{item1.vendor_name}}</td>
                                                    <td>{{add}}</td>
                                                    <td>{{item1.officer.officer_name}}</td>
                                                    <td>{{item1.inspection_date}} </td>
                                                  
                                                    <td>
                                                        {% if item1.letter_report %}
                                                            <a target="_blank" href="{{item1.letter_report.url}}">
                                                            <button class="btn btn-info btn-sm">
                                                                <span class=" ed-submit-text">
                                                                    View
                                                                </span>
                                                            </button> 
                                                          </a>
                                                        {% else %}  
                                                        <button class="btn btn-info btn-sm">
                                                            <span class="ed-submit-text">
                                                                Not Uploaded
                                                            </span>
                                                        </button> 
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if item1.Material.offer_material_docs %}
                                                        <a href="{{item1.Material.offer_material_docs.url}}">
                                                            <button class="btn  btn-info btn-sm">
                                                                <span class="ed-submit-text">
                                                                    View
                                                                </span>
                                                            </button>
                                                        </a>
                                                        {% else %}
                                                            <button class="btn  btn-danger btn-sm">
                                                                <span class="ed-submit-text">
                                                                    Not upload
                                                                </span>
                                                            </button>
                                                        {% endif %}
                
                                                    </td>

                                                    <td>
                                                        {% if item1.Material.PDI_Complete == 0  %}
                                                        <a  class="btn btn-info btn-sm" target="" href="#" onclick="alert_msg()" > View</a> 
                                                        {% comment %} {% elif item1.Material.PDI_Complete == 1 and not item1.pdi_report  %}

                                                        <a  class="btn btn-info btn-sm" target="" href="#" onclick="pdiReport()" > View</a>  {% endcomment %}
                                                        
                                                        {% else %}
                                                        <a  class="btn btn-info btn-sm" target="" href="/pdi_against_wo/{{item1.offer_no}}" id="pdi" > View</a>          
                                                        {% endif%}


                                                    </a> 
                                                                                                           
                                                 </td>

                                                    {% comment %} <td>
                                                        <div class="poaction-info">
                                                            {% if item1.pdi_report and item1.Material.PDI_Complete == 1 %}
                                                            
                                                            <button class="btn btn-info btn-sm">
                                                                <span class="ed-submit-text">
                                                                    Completed
                                                                </span>
                                                            </button>  
                                                            {% elif item1.pdi_report_url and item1.Material.PDI_Complete == 1 %}
                                                            
                                                            <button class="btn btn-info btn-sm">
                                                                <span class="ed-submit-text">
                                                                    Completed
                                                                </span>
                                                            </button>
                                                            {% elif item1.Material.PDI_Complete == 1  %}
                                                            
                                                            <button class="w3-button w3-yellow">
                                                                <span class="ed-submit-text">
                                                                    pdi report not uploaded
                                                                </span>
                                                            </button> 
                                                            {% else %}
                                                         
                                                            <button class="btn  btn-danger btn-sm">
                                                                <span class="ed-submit-text">
                                                                    Pending
                                                                </span>
                                                            </button>  
                                                            {% endif %}                                                     
                                                            
                                                        </div>
                                                    </td> {% endcomment %}
                                                   
                                                    <td>
                                                        <div>
                                                            {% if item1.Material.PDI_Complete == 0 %}
                                                            <a href="{% url 'update_pdi_assign' item1.offer_no%}" target="_blank" rel="noopener noreferrer"><span class="btn btn-info btn-sm">Reassign inspecting officer</span></a>
                                                            {% else %}
                                                            <span class="btn btn-success btn-sm">Inspection completed</span>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            {% if item1.Material.PDI_Complete == 1 %}
                                                            {% if item1.Material.PDI_Approved_Status == 0 %}
                                                            
                                                            <span class="btn btn-danger">Pending</span>
    
                                                            {% elif item1.Material.PDI_Approved_Status == 1 %}
                                                            
                                                            <span class="btn btn-success">Accepted</span>
                                                            {% elif item1.Material.PDI_Approved_Status == -1 %}
                                                            <span class="btn btn-danger">Rejected</span>
                                                            {% elif item1.Material.PDI_Approved_Status == -2 %}
                                                            <span class="btn btn-danger">Fake Called</span>
                                                            {% endif %}
                                                            {% else %}
                                                            pdi not completed
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                  
                                                
                                                </tr>
                                           
                                       {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<style>

.avatar-upload {
  position: relative;
  max-width: 100%;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 340px;
  height: 340px;
  position: relative;
  border-radius: 4px;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
    border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

</style>



           
</form>
<script>
    let msg = document.getElementById("msg").innerHTML;
    if(msg!=''){
    alert(msg);
    }
    
    </script>

<script>
   function alert_msg(){
            alert("PDI Not Completed");  
    }
   function pdiReport(){
            alert("PDI Report Not Uploaded");  
    }

</script>
<script>
    $(document).ready(function () {
    $('#all_pdi_assigned_data').DataTable({
        pagingType: 'full_numbers',
    });
});
</script>
{% endblock body %}

