{% extends 'fqp/wo_creater/creater_base.html' %}
{% load static %}
{% block pagetitle %} Create Work Order {% endblock pagetitle %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-body table-responsive table-bordered table-hover">

                    <div class="card-body ">
                        <h5 class="font-weight-bolder p-3">User All Information </h5>
              <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table table-dark">
                  <tr>

                    <th class="text-center" style="width:10px;">
                        S.No
                    </th>
                        <th><b>Document  Name</b></th>
                        <th><b> Document No</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>Type of Business</td>
                        <td>{{data.Type_of_business}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>Authorised Person Name</td>
                        <td>{{data.Authorised_person_E}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>Company Name</td>
                        <td>{{data.CompanyName_E}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td>Contact Number</td>
                        <td>{{data.ContactNo}}</td>

                    </tr>

                    <tr>
                        <td class="text-center">5</td>
                        <td>Email ID</td>
                        <td>{{data.Email_Id}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">6</td>
                        <td>Contractor Class</td>
                        <td>{{type.Name}}</td>
                    </tr>
                    <tr>
                        {% if data.Upgrade_Oyt %}
                            <td>7</td>
                            <td>Upgrade class Type</td>
                            <td><b>{{doc1.Name}}</b></td>
                            {% else %}
                            <td><b style="visibility: hidden;"></b></td>
                            {% endif %}
                    </tr>
                   <tr>
                        <td class="text-center">7</td>
                        <td>Company GST No</td>
                        <td>{{CompanyData.Company_Gst_No}}</td>
                    </tr>
                   <tr>
                        <td class="text-center">8</td>
                        <td>Pan Card No</td>
                        <td>{{CompanyData.Company_Pan_No}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">9</td>
                        <td>Company Gumastha No</td>
                        <td>{{CompanyData.Company_Gumastha_No}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">10</td>
                        <td>Company Registration_Date</td>
                        <td>{{CompanyData.Registration_Date}}</td>
                    </tr>
                     <tr>
                       <td colspan="3" class="font-weight-bold text-light bg-dark text-center" style="font-size: 15px;"> Company Address</td>
                    <tr>
                        <tr>
                        <td class="text-center">11</td>
                        <td>Add 1</td>
                        <td>{{CompanyData.Company_add_1}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">12</td>
                        <td> Add 2</td>
                        <td>{{CompanyData.Company_add_2}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">13</td>
                        <td>Pin Code</td>
                        <td>{{CompanyData.Company_pin_code}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">14</td>
                        <td>District</td>
                        <td>{{CompanyData.Company_dist}}</td>
                    </tr>
                        <tr>
                        <td class="text-center">15</td>
                        <td>State</td>
                        <td>{{CompanyData.Company_state}}</td>
                    </tr>
                   <tr>
                       <td colspan="3" class="font-weight-bold text-light bg-dark text-center" style="font-size: 15px;"> Bank Details</td>
                    <tr>
                        <tr>
                        <td class="text-center">16</td>
                        <td>Account No</td>
                        <td>{{BankDetails.Account_Number}}</td>
                    </tr>

                        <tr>
                        <td class="text-center">17</td>
                        <td>Bank Name</td>
                        <td>{{BankDetails.Bank_name}}</td>
                    </tr>

                </tr>
                        <tr>
                        <td class="text-center">18</td>
                        <td>IFSC Code</td>
                        <td>{{BankDetails.IFSC}}</td>
                    </tr>
                </tr>
                        <tr>
                        <td class="text-center">19</td>
                        <td>Account Holder Name</td>
                       <td>{{BankDetails.Account_Holder_Name}}</td>
                    </tr>
               </section>
                <tr></tr>
            </table>
        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h5 class="card-title m-2 font-weight-bolder"> <b> Income Last Three Year Uploaded By Contractor </b></h5>
                     <table class="table table-bordered">
                <thead class="table table-dark">
                                <tr>
                                    <th> Type </th>
                                    <th> Financial Year </th>
                                    <th> Income In Rs </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in doc1 %}
                                <tr class="bg-light">
                                    {% if data.Status == 1 %}
                                    <td><b>Turn Over</b></td>
                                    {% else %}
                                    <td><b>Income Tax Return</b></td>
                                    {% endif %}
                                    <td><b>{{data.Financial_year}}</b></td>
                                    <td><b>{{data.Amount}}</b></td>
                                    <tr>
                                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-header -->
                    <form action="/tkc_cgm_evaluate_save/{{data.User_Id}}" method="POST">
                        {% csrf_token %} {% csrf_token %}
                        <div class="card-body">
                            <h5 class="card-title m-2 font-weight-bolder"> <b> Document Uploaded By Contractor </b></h5>
                       <table class="table table-bordered">
                <thead class="table table-dark">
                 
                                    <tr>
                                        <th> Document Name </th>
                                        <th> Document Number </th>
                                        <th> Issued Date </th>
                                        <th> Expired Date </th>
                                        <th> View Document</th>
                                       <th> Status(DGM'S)</th>
                                       <th> Status(GM)</th>
                                        <th> Remark</th>
                                </thead>
                                <tbody>
                                    {% with name=100 %} {% for data in doc %}
                                    <tr>
                                        <td><b>{{data.Types_of_Docs}}</b></td>
                                        <td>{{data.Document_Number}}</td>
                                        <td>{{data.Doc_issue_date|date:"d-M-Y"}}</td>
                                        <td>{{data.Doc_expiry_date|date:"d-M-Y"}}</td>
                                        {% if data.Ddocfile %}
                                        <td class="text-center">
                                            <a href="{{data.Ddocfile.url}}" target="_blank">View</a>
                                        </td>
                                        {% else %}
                                        <td class="text-center">
                                            <a href="#"  class="fas fa-eye text-secondary">View</a>
                                        </td>
                                        {% endif %}

                                        <td>
                                            {% if data.Primary_verification_Status == 1 %}
                                            <b>Accepted</b>
                                            {% elif data.Primary_verification_Status == 0 %}
                                            <b>Pending</b>
                                            {% else %}
                                           
                                            <b>Rejected</b>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if data.Primary_verification_Status_approver == 1 %}
                                            <b>Accepted</b>
                                            {% elif data.Primary_verification_Status_approver == 0 %}
                                            <b>Pending</b>
                                            {% else %}
                                           
                                            <b>Rejected</b>
                                            {% endif %}
                                        </td>

                                        <td>{{data.Primary_remark}}</td>



                                        
                                                    </tr>
                                        {% endfor %} {% endwith %}
                                <tr></tr>
                        </tbody>
                        </table>
                </div>
                    </form>
        </div>
    </div>
    </div>
    </div>
    <!-- <div class="row card-body">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="reset" value="Go Back" class="btn btn-secondary">
            </div>
        </div>

    </div> -->
</section>
<!-- /.content -->
</div>
<style>
    .ed-pagetitle-block {
        display: none;
    }
    
    .ed-form-block .ed-form-body .form-group .ed-form-label {
        font-size: 14px;
        margin: 0;
    }
    .ed-textbox {
        border: 1px solid rgba(38, 53, 68, 0.5);
        border-radius: 4px;
        min-height: 40px;
        outline: none !important;
        box-shadow: none !important;
    }
  
  </style>
{% endblock body %}