{% extends 'officer/dgm_base.html' %} {% load static %} {% block body %}


<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            User All Basic Details
        </h2>
    </div>
    <div class="card-body mb-3">
        <div class="ed-tableinfo-block">
            <div class="table-responsive">
                <table class="table table-striped table-bordered ed-table-block ed-centertable text-center">
                    <thead>
                        <tr>
                            <th class="w-5 text-center">S.No.</th>
                            <th class="w-50">
                                Report Name </th>
                            <th class="w-40">
                                Value 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Type of Business</td>
                            <td>{{data.Type_of_business}}</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Authorised Person Name</td>
                            <td>{{data.Authorised_person_E}}</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Company Name</td>
                            <td>{{data.CompanyName_E}}</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Contact Number</td>
                            <td>{{data.ContactNo}}</td>

                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Email ID</td>
                            <td>{{data.Email_Id}}</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Vendor Type</td>
                            <td>{{data.User_type}}</td>
                        </tr>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Company GST No</td>
                            <td>{{CompanyData.Company_Gst_No}}</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Pan Card No</td>
                            <td>{{CompanyData.Company_Pan_No}}</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Company Gumastha No</td>
                            <td>{{CompanyData.Company_Gumastha_No}}</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Company Registration_Date</td>
                            <td>{{CompanyData.Registration_Date}}</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="thead text-white"> Company Address</th>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Add 1</td>
                            <td>{{CompanyData.Company_add_1}}</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td> Add 2</td>
                            <td>{{CompanyData.Company_add_2}}</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Pin Code</td>
                            <td>{{CompanyData.Company_pin_code}}</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>District</td>
                            <td>{{CompanyData.Company_dist}}</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>State</td>
                            <td>{{CompanyData.Company_state}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body mb-3">
        <div class="ed-tableinfo-block">
            <div class="table-responsive">
                <table class="table table-striped table-bordered ed-table-block ed-centertable text-center">
                    <thead>
                        <tr>
                            <th> Product Name </th>
                            <th> Material_Name_for_testing </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in mat1 %}
                        <tr>
                            <td>{{data.Product}}</td>
                            <td>{{data.Material_Name_for_testing}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card-body mb-3">
        <h6>Document Uploaded By NABL</h6>
        <form action="/dgm_work_evaluate_save/{{data.User_Id}}" method="POST">
            {% csrf_token %}
            <div class="ed-tableinfo-block">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered ed-table-block ed-centertable text-center">
                        <thead>
                            <tr>
                                <th> Document Name </th>
                                <!-- <th> Document Number </th> -->
                                <th> Issued Date </th>
                                <th> Expired Date </th>
                                <th> View Document</th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% with name=100 %} {% for data in doc %}
                            <tr>
                                <td>{{data.Types_of_Docs}}</td>
                                <!-- <td>{{data.Document_Number}}</td> -->
                                <td>{{data.Doc_issue_date|date:"d-M-Y"}}</td>
                                <td>{{data.Doc_expiry_date|date:"d-M-Y"}}</td>
                                <td class="text-center">
                                    <a href="{{data.Ddocfile.url}}" target=”_blank” class="ed-links">
                                        <label class="ed-textinfo">
                                        </label>
                                    </a>
                                </td>
                                <td class="text-center">
                                    {% if data.Primary_verification_Status == 1 %}
                                    <span class="text-success">Approved</span>
                                    {% elif data.Primary_verification_Status == 2 %}
                                    <span class="text-danger">Rejected</span>
                                    {% else %}
                                    <span class="text-warning">Pending</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %} {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="button-row d-flex mt-4">
                <button class="btn bg-gradient-light mb-0 js-btn-prev" type="reset" title="Go Back">Reset</button>
                <button class="btn bg-gradient-primary ms-auto mb-0" onclick="return confirm('Are you sure you want to submit ?');" type="submit" title="Submit">Submit</button>
            </div> -->

{% endblock body %}