{% extends 'main/mpeb_base.html' %} {% load static %} {% block body %}

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
</head>

<body>

    <style>
        th,
        td,
        p {
            font-size: 14px;
            line-height: 24px;
            white-space: normal;
            margin: 0;
            word-break: break-all;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            vertical-align: middle;
        }

        th,
        td {
            padding: 3px;
        }

        .table thead th {
            vertical-align: middle;
            border-bottom: 2px solid #dee2e6;
        }

        ul,
        li {
            list-style: none;
        }

        .table thead th {
            padding: 4px;
        }

        .table td {
            padding: 4px;
        }
    </style>
    {% comment %} <h1 class="text-center">PDI Letter</h1> {% endcomment %}

    <div class="card ed-card-block">
        <!-- <div class="card-header">
        <h2>
            PDI Assign
        </h2>
    </div> -->
  
    <form action="/all_pdi_assigned_data/{{offer_no}}" method="POST" enctype='multipart/form-data' onsubmit="return validation()">
   
    
        {% csrf_token %} 
        <div class="card-body">
            <div class="" id="printinfo">
                    
                    

                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td class="border-0 p-0">
                    
                                <img src="{{wo_data.Discom.Discom_Header.url}}" class="cgm-logo"
                                    style="width:100%" alt="User profile" />
                                
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table w-100 mb-3">
                    <tbody>

                        <tr>

                            <td class="border-0 w-50 p-0">
                                <p class="text-left mb-2">
                                    <b>
                                        MP{{wo_data.Discom.Discom_Code}}/{{offer_no}}/PDI
                                    </b>
                                </p>
                            </td>
                        
                            <td class="border-0 w-50 p-0" style="min-width:150px;">
                                <p class="text-right mb-2">
                                    <b>
                                        {{wo_data.Discom.Discom_Code}} - {{wo_data.Discom.Discom_location}}
                                    </b> 
                                </p>
                                <p class="text-right mb-2">
                                    <b> {{today}} </b></br>
                                </p>
                            </td>
                     
                        </tr>

                        
                        <td class="border-0 w-100 p-0"> 
                            <p style="display:flex;align-items: center;justify-content: space-between;width: 100%;">        
                                <span class="b-block text-left  w-50">
                                    To,</br>
                                </span>
                                  
                            </p>
                        </td>
                        </tr>
                        <tr>
                            <td class="border-0 w-100 p-0" colspan="2">
                                <p>
                                    {{officer.officer_name}}</br>
                                    {{officer.contact_no}}</br>
                                    {{officer.officer_designation}}
                                </p>
                            </td>
                          
                        </tr>

                        <tr>
                            <td class="border-0 w-100 p-0" colspan="2">
                              
                                    {{offc1.officer_name}}</br>
                                    {{offc1.contact_no}}</br>
                                    {{offc1.officer_designation}}
                            
                                </p>
                            </td>
                          
                        </tr>
                       
                        <tr>


                            <td class="border-0 w-100 p-0" colspan="2">
                                <p class="">
                                    <b>
                                        Sub -
                                    </b>
                                    PDI against material offer no <b>{{offer_no}}</b> Work Order no
                                    <b>{{wo_data.Contract_Number}}</b>
                                </p>
                            </td>
                        </tr>
                        <tr>

                            <td class="border-0 w-100 p-0" colspan="2">
                                <div class="mb-2" style="display: flex;">
                                    <b>
                                        Ref -
                                    </b>
                                    <ul style="display: inline-block;    padding-left: 5px;">
                                        <li>
                                            (1) Offer Id : {{offer_no}} , Offer Date : {{wo_data.created_at}} , Work Order no
                                            <b>{{wo_data.Contract_Number}}</b>
                                        </li>
                                        <!-- <li>
                                            (2)Offer Date : {{Data.created_at}}
                                        </li> -->

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="border-0 w-100 p-0" colspan="2">
                                <h6 class="mb-1">
                                    <b>Terms and Condition :</b>
                                </h6>
                                <p class="mb-2">
                                    &nbsp; &nbsp;&nbsp;&nbsp;
                                    You are hereby directed to carryout Pre-delivery inspection for the below mentioned material strictly as per approved GTP and Drawing.

                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <p class="">
                    &nbsp; &nbsp;&nbsp;
                    Dispatch Instruction of PCC Poles for DDUGJY (erstwhile RGGVY) 11th plan Project of Gwalior
                    district.
                </p> -->
                <table class="table table-bordered text-center w-100 mb-3">
                    <thead>
                        <tr>
                            <th class="w-5" style="width: 30px;">
                                S.No.
                            </th>
                            <th class="w-20">
                                Item Description
                            </th>
                            <th class="w-10">
                                Unit
                            </th>
                            <th class="w-10">
                                BOQ <br> Qty.
                            </th>
                            <th class="w-10">
                                Already DI <br>
                                issued Qty.
                            </th>
                            <th class="w-10">
                                Bal. Qty. <br>
                                for PDI/DI
                            </th>
                            <th class="w-10">
                                Qty. for <br>
                                PDI
                            </th>
                            <!-- <th class="w-10">
                                S. No. of<br>
                                item
                            </th> -->
                        </tr>

                    </thead>
                    <tbody>

                        {% for item1, item2 in zippedList %}
                        
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{item1.wo_material.material_name}}</td>
                            <td>{{item1.wo_material.uom}}</td>
                            <td>{{item1.wo_material.total_order_qty}}</td>
                            <td>{{item1.wo_material.dispatch_qty}}</td>
                            <td>{{item1.wo_material.balance_qty}}</td>

                            <td>{{item2}}</td>
                            <!-- <td>{{item1.input_serial_number}}</td> -->

                        </tr>
                        {% endfor %}
                        

                    </tbody>
                </table>

                <span  class="b-block text-right w-50">                                        
                    <b>Date of inspection</b> -<b id="inspection_date"> {{inspection_date}}
                </span>    


                <table class="w-100 mb-2">
                    <tr>
                        <td class="w-50">
                            <div class="text-left">
                                <p class="text-left" style="display:inline-block">
                                    <b>Address of firm and name of contact person as follow:</b> <br />
                                    <b>Address of firm:</b> <br />
                                    {{address_data.CompanyName_E}}, <br>
                                    {{address_data.Company_add_1}}, <br>
                                    {{address_data.Company_state}}<br>

                                </p>
                            </div>
                        </td>
                        <td class="w-50">
                            <div class="text-right">
                                <p class="text-left" style="display:inline-block">
                                    Name of the Contact Person : {{address_data.user_id_id.Authorised_person_E}} <br>
                                    Mob No : {{address_data.Company_Contact_No}} <br>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="w-100 mb-2">
                    <tr>
                        
                        <td class="w-100">
                            <div class="text-right">
                                <p class="text-center mt-4" style="display:inline-block">
                                    {% comment %} <b>
                                        
                                        Date of inspection - {{inspection_date}}
                                        
                                    </b> {% endcomment %}
                                </p>
                            </div>
                        </td>
                        
                    </tr>
                </table>


                




                <table class="w-100 mb-2">
                    <tr>
                        <td class="w-100">
                            <div class="text-right">
                                <p class="text-center mt-4" style="display:inline-block">
                                    <b> __sd__<br>
                                        CGMQC<br>
                                        {{wo_data.Discom.Discom_Short_Name}}
                                    </b>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>

                <h6>
                    {% comment %} <b>Copy To:- </b> {% endcomment %}
                </h6>
                <table class="w-100 mb-2 text-left">

                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    {% comment %} 1. Dy. CGM (RP/UP), RDSS, O/o MD (CZ)<br>
                                     
                                    {{wo_data.Discom.Discom_Short_Name}} {% endcomment %}
                                </p>
                            </td>
                            
                            <!-- <th>1.</th>
                            <td class="w-100">You are hereby advised to take further action in the matter to
                                dispatch the
                                aforementioned</td> -->
                        </tr>

                    </tbody>
                </table>


                {% comment %} <table class="w-100 mb-2">
                    <tr>
                        <td class="w-100">
                            <div class="text-right">
                                <p class="text-center mt-3" style="display:inline-block">
                                    <b>
                                        CGMQC<br>
                                        {{wo_data.Discom.Discom_Short_Name}}
                                    </b>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table> {% endcomment %}
            </div>
            <div class="form-group mt-3" id="options">
                <div class="row">
                    
                    <div class="col-sm-3">
                        <div class="text-center">
                            <label class="m-0 opacity-0">ss</label>   <br>
                            <button class="btn ed-submit ed-formsubmit" onclick="printwindows()">
                                Print
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="text-left">
                            <label class="m-0">Upload Sign Documents </label> 
                            <div class="d-flex">
                            <input type="file" class="" value="Upload" required name= "pdi_report" id = "pdi_report">
                            <button type="submit" class="btn ed-submit ed-formsubmit">Submit</button>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="text-center">
                            <label class="m-0 opacity-0">ss</label>   <br> 
                        </div>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="text-right">
                            <label class="d-block mb-4"> </label>
                        
                        </div>
                    </div> -->
                    </form>
    {% comment %} <div class="toast"> 
        <div class="toast-body">
          Some text inside the toast body
        </div>
      </div>  {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
      
<script>
    $(document).ready(function(){
      $("#myBtn").click(function(){
        $('.toast').toast('show');
      });
    });
    </script>
    

    {% comment %} <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content"> 
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> 
            <div class="modal-body">
              Modal body..
            </div> 
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div> {% endcomment %}

    <style>
        .resize-none {
            resize: none;
            overflow: none;
            box-shadow: none;
            box-shadow: none !important;
            overflow: hidden !important;

        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>


    <script>
        {% comment %} var date =document.getElementById('inspection_date').innerHTML;
        alert(date);
        var d = new Date(date);
        console.log(c("2023-12-29").format('MMMM DD YYYY'));
         {% endcomment %}
       




        function printwindows() {
            
            document.getElementById('sidenav-main').style.display = 'none';
           
            document.getElementById('options').style.display = 'none';
            
            document.getElementById('headerMenu').style.display = 'none';
           
            document.getElementById('contantBlock').style.padding = '10px';
            
            {% comment %} document.getElementById('copyArea').style.borderWidth = '1px';
           
            document.getElementById('diArea').style.borderWidth = '1px'; {% endcomment %}
           
            $('#copyArea').css('border-width','0px');
            $('.ed-card-block').css('box-shadow','none');
            $('.ed-card-block').css('padding','0');
            
            $('#diArea').css('border-width','0px'); 
            $('.ed-footer-block').hide();
            window.print();
            
            document.getElementById('options').style.display = 'block';
            document.getElementById('sidenav-main').style.display = 'block';
            document.getElementById('headerMenu').style.display = 'block';
            document.getElementById('contantBlock').style.paddingTop = '85px';
            document.getElementById('contantBlock').style.paddingLeft = '275px';
            document.getElementById('copyArea').style.borderWidth = '1px';
            document.getElementById('diArea').style.borderWidth = '1px';
            $('#copyArea').css('border-width','1px');
            $('#diArea').css('border-width','1px');
            $('.ed-footer-block ').block();
            $('.ed-card-block').css('box-shadow','0px 0px 6px 1px rgb(30 30 30 / 10%)');
            $('.ed-card-block').css('padding','15px');
        }


        var textarea = document.getElementById("diArea");
        var limit = 1000; //height limit

        textarea.oninput = function () {
            textarea.style.height = "";
            textarea.style.height = Math.min(textarea.scrollHeight, limit) + "px";
        };

        var textarea1 = document.getElementById("copyArea");
        var limit1 = 1000; //height limit 
        textarea1.oninput = function () {
            textarea1.style.height = "";
            textarea1.style.height = Math.min(textarea1.scrollHeight, limit1) + "px";
        };

    </script>


    {% endblock body %}
