{% extends 'po/area_store/pma_officer.html' %}
{% load static %}
{% load wo_tag %}
{% block pagetitle %} Pert Details Information {% endblock pagetitle %}
{% block body %}

<div class="ed-information mb-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card ed-card-block">
                <div class="card-header">
                    <h2>

                    </h2>
                </div>
                <div class="card-body">
                    <div class="ed-tableinfo-block">
                        <div class="table-responsive">
                            <table
                                class="table table-striped table-bordered ed-table-block ed-centertable text-center ">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Company Name</th>
                                        <th>Pert</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Supply in data %}
                                    <tr>
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{Supply.TKCWoInfo.Discom.Discom_Short_Name}}
                                        </td>
                                        <td>
                                            <a target="_blank" href="{{Supply.BG_Copy.url}}">
                                                <button class="btn ed-submit btn-success">
                                                    <span class="ed-submit-text">
                                                        View Pert
                                                    </span>
                                                </button>
                                            </a>

                                        </td>
                                        
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        {% endblock body %}