{% extends 'main/mpeb_base.html' %} {% load static %} {% block body %}{% load static %}

<style>
  .ed-tableinfo-block .dataTables_length {
      display: block;
  }

  .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
      background: #e5e9ed;
      color: #fff;
      border-color: #1b1c1c;
  }
</style>
<div class="ed-card-inner">
  <div class="card-header">
    <h2>
      All RCA Vendor Pending
    </h2>
  </div>
  <div class="card-body">
    <div class="ed-tableinfo-block">
      <div class="table-responsive">
        <table class="table  table-bordered table-hover text-center" id="rca_pending_cgm">
          <thead class="table-dark">
            <tr>
              <th class="w-5">S.No.</th>
              <th>
                Name Of Agency
              </th>
              <th>
                User Zone
              </th>
              <th>
                Name Of Authorized Person
              </th>
              <th>
                Email
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for data in data %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{data.CompanyName_E}}</td>
              <td>{{data.User_zone}}</td>
              <td>{{data.Authorised_person_E}}</td>

              <td>{{data.Email_Id}}</td>
              <td>{{data.ContactNo}}</td>
              <td>
                <a href="/rca_cgm_evaluate/{{data.User_Id}}" class="ed-links">
                  <label>
                    <span class="btn btn-info btn-sm">
                      View Details
                    </span>
                  </label>
                </a>
              </td>
              {% endfor %}
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#rca_pending_cgm').DataTable({
        pagingType: 'full_numbers',
    });
});
</script>
{% endblock body %}