<html>
{% load static %}
<head>
<center>

<style>

.signature, .title { 

float:left;

  border-top: 1px solid #000;

  width: 220px; 

  text-align: right;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js" integrity="sha512-vNrhFyg0jANLJzCuvgtlfTuPR21gf5Uq1uuSs/EcBfVOz6oAHmjqfyPoB5rc9iWGSnVE41iuQU4jmpXMyhBrsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    window.onload = function() {
        document.getElementById("download").addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice");
            console.log(invoice);
            console.log(window);
            var opt = {
                pagebreak: { mode: ['avoid-all', 'css', 'legacy'] },
                margin: [0.2,0.5,0,0.2] , //top, left, buttom, right,
                filename: "{{cert_u_obj.company_name}}" + '.pdf',
                image: {
                    type: 'jpeg',
                    quality: 1
                },
                html2canvas: {
                    scale: 2
                },
                jsPDF: {
                    unit: 'in',
                    format: 'A4',
                    orientation: 'landscape'
                }
            };


            html2pdf().from(invoice).set(opt).save();

        })
    }
</script>
</head>

<body>

<div class="auto-mx" style="width:85%; padding:5px; text-align:center; border: 10px solid #787878" id="invoice">
<div class="auto-mx" style="padding:2px; text-align:center; border: 2px solid #787878" id="invoice">
       <img src="{% static 'assets\images\mpmk.png' %}" style="width:15%; height:15%" alt="mpmk" class="center"> 
       <span style="font-size:16px; font-weight:bold">M.P. MADHYA KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
	   <br>
	   <span style="font-size:14px; font-weight:bold"><i>(Government of M. P. Undertaking)</i></span>
	   <br>
	   <span style="font-size:14px; font-weight:bold">Regd. Office: Nishtha Parisar, Govindpura Bhopal 462023</span>
	   <br>
	   <span style="font-size:14px; font-weight:bold"> 0755-2601300, Ext-501, Website portal.mpcz.in</span>
	   <br>
	   <span style="font-size:14px; font-weight:bold">CIN NUMBER: U40109MP2002SGC015119</span>
	   <br>      
	   <span style="font-size:20px"><i>***************************</i></span>
	   <br>
	   <br>
       <span style="font-size:20px"><i>This is to certify that</i></span>
       <br>
       <span style="font-size:26px"><b>M/s {{rtcd_cert_obj.agency_name}}</b></span>
	   <br>
       <span style="font-size:16px">Registered Office Address: <b>{{rtcd_cert_obj.address}} </b></span>
	   <br> 
       <br>	
       <span style="font-size:20px">Registration number: </span><span style="font-size:26px"><b>{{rtcd_cert_obj.registration_no}}</b></span>
	   <br>
       <span style="font-size:16px">is registered as <b>{{rtcd_cert_obj.User_type}}</b></span>
       <br>
       <span style="font-size:16px">Date of Issue: {{rtcd_cert_obj.current_date |date:"d-M-Y"}}</span>
	   <br>
       <span style="font-size:16px">Valid up to: {{rtcd_cert_obj.valid_upto |date:"d-M-Y"}}</span>
       <br>
       <br><br>
      <b>Note</b> -- Approval is given subject to the condition that validity of all relevant documents submitted is in order till validity of registration.

    <div style="display:table;" style="padding:5px; text-align:center; border: 20px solid #787878">    
        <table border="0" cellspacing="0" cellpadding="0" style="padding-left:50px; padding-bottom:20px;">
            <tbody>
                <tr>
                    <td style="text-align: left;">Signed by: <b> {{rtcd_cert_obj.Officer_designation}}</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <svg width="180" height="70">
                            <rect x="0" y="0" width="180" height="70" style="stroke:black;stroke-width:1;fill-opacity:0;stroke-opacity:0.5" />
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 10px;">upload your digital signature here</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{% if var_show %}
<!-- <script>
    function printpage() {
        //Get the print button and put it into a variable
        var printButton1 = document.getElementById("printpagebutton1");
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton1.style.visibility = 'hidden';
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        printButton.style.visibility = 'visible';
        printButton1.style.visibility = 'visible';

    }
</script> -->
<style>
    #options {
	align-content:center;
	align-items:center;
    text-align: center;
}
</style>

<script>
    function printpage() {
        var printButton2 = document.getElementById("printpagebutton2");
        var printButton1 = document.getElementById("printpagebutton1");
        var printButton = document.getElementById("printpagebutton");
        
        printButton2.style.visibility = 'hidden';
        printButton1.style.visibility = 'hidden';
        printButton.style.visibility = 'hidden';

        window.print()

        printButton.style.visibility = 'visible';
        printButton1.style.visibility = 'visible';
        printButton2.style.visibility = 'visible';
    }
</script>

<div id="options">
    <table class="center">
          <tr>
            <th><input style="text-align: center; font-size: 20px;" class="btn btn-primary btn-sm" type="button" value="Print" id="printpagebutton" onclick="printpage()"/></th>
                <form action="/root_top_otp3/{{rtcd_cert_obj.registration_no}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <th><input style="text-align: center; font-size: 20px;" type="file" name="certFile" id="printpagebutton1" required="required"></th> 
                    <th><input style="text-align: center; font-size: 20px;" type="submit" id="printpagebutton2" value="Submit"></th>
                </form>
          </tr>
    </table>
</div>
{% endif %}

</center>




</body>

</html>

