{% extends 'officer/RoofTop_Viewer_base.html' %} {% load static %} {% block body %}


<h3 class="card-title m-2"> <b> Transaction History </b></h3>
<table class="table table-bordered table-hover bg-white " cellspacing="0">
    <thead class="bg-dark" >
        <tr>
            <th> Transaction Date </th>
            <th> Transaction ID  </th>
            <th>  Email </th>
            <th> Payu Moneyid </th>
            <th>Amount </th>
            </tr>
            </thead>
              <tbody>
                  {% for data in posted %}
              
                  <td><b>{{data.date}}</b></td>
                  <td>{{data.Txdid}}</td>
                  <td>{{data.Email_Id}}</td>
                  <td>{{data.Contact_No}}</td>
                  <td>{{data.Netamount_Debited}}</td>

        
                  </tr>
       {% endfor %}
</tbody>
</table>



{% endblock body %}