{% extends 'tkc/tkc_Base.html' %} {% load static %} {% block body %}
<head>
   <script type="text/javascript" src="{% static '/assets/js/Validation/tkc_reject.js' %}"></script>
</head>
<table class="table-responsive border-box:20x">
   <thead>
      <th style="width:40%;"> Document Name
      </th>
      <th style="width:40%;">Document Number</th>
      <!-- <th style="width:20%;">Issued Date</th>
                            <th style="width:20%;">Expired Date</th> -->
           <th style="width:20%;">Upload File</th>
   </thead>
   <tbody>
      {% with name=100 %}
      {% for data in data %}
      {% if data.Approval_doc == 2 %}
      <form action="/tkc/rejected_doc_finance_save/{{data.id}}" onsubmit="return validateForm()" name="myForm"  method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         {% else %}
      <form action="/tkc/rejected_doc_save/{{data.id}}" onsubmit="return validateForm()" name="myForm"  method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         {% endif %}
         <tr>
            <td style="width:20%;">{{data.Types_of_Docs}}</b>
            </td>
            <td style="width:40%;"> <input class="form-control m-1" style="width:300px;height:40px;" onfocus="validateForm()" onkeyup="validateForm()" onchange="validateForm()" type="text"
                   name='doc_name' placeholder="{{data.Document_Number}}">
                  <span id="number" class="text-danger font-weight-bold" style="font-size: 80%;"></span>
               </td>
            <!-- <td style="width:10%;"><input type="date" name='issue_date' value="{{data.Doc_issue_date}}" ></td>
                            <td style="width:20%;"><input type="date" name='expire_date' value="{{data.Doc_expiry_date}}" ></td> -->
            <td style="width:40%;"><input type="file" id="file_id"  name="file"accept="application/pdf"  onfocus="validateForm()" onkeyup="validateForm()" onchange="validateForm()" class="form-control">
               <span id="file_1" class="text-danger font-weight-bold" style="font-size: 80%;"></span>
            </td>
         </tr>
         <tr>
            <td colspan="1">
               <a href="{{data.Ddocfile.url}}"  target="_blank" class="btn btn-success mr-3">View</a>
            </td>
            <td colspan="1"><textarea class="form-control m-1" style="width:300px;height:40px;" rows="1"
                  placeholder='{{data.Primary_remark}}' disabled></textarea></td>
            <td><button type="Submit" value="Submit" class="btn btn-success m-2">Resubmit</button></td>
         </tr>
              </form>
         {% endfor %}
         {% endwith %}
   </tbody>
</table>


{% endblock body %}