<html>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <head>
    <center>
    
      <style>

        .signature, .title { 
            float:left;
            border-top: 2px solid #000;
            width: 200px; 
            text-align: center;
        }
    
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        #example2 {
            width: 213px;
            padding: 10px;
            height: 66px;
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
      {% if cert_u_obj.User_type == "NABL"  %} <!-- NABL IF -->
      <div class="auto-mx" style="width:100%; padding:5px; text-align:center; border: 10px solid black">
          <div class="auto-mx" style="padding:2px; text-align:center; border: 4px solid black">
              <table style="padding:20px; width:100%; border:2px solid black;">
                  <tr>
                      <td><img src="{% static 'assets\images\mpmk.png' %}" alt="" border=3 height=120 width=150></img></td>
                      <td align ="justify"><span style="font-size:24px; font-weight:bold;text-align: center;">M.P. MADHYA KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:144px"><i>(Government of M. P. Undertaking)</i></span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:66px">Regd. Office: Nishtha Parisar, Govindpura Bhopal 462023</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:170px"> Website portal.mpcz.in</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:113px">CIN NUMBER: U40109MP2002SGC015119</span>
                      </td>
                  </tr>
              </table>
              <hr style="height:2px;border-width:0;color:black;background-color:black;" />
              <h3 class="text-center text-primary font-weight-bolder" style="color: blue;">NABL ACCREDITED LAB REGISTRATION CERTIFICATE</h3>
      
              <table class="table table-bordered table-sm" style="font-size:18px; border: 2px solid black; border-collapse: collapse; width: 100%;">
                  <tbody style="border: 2px solid black; border-collapse: collapse;">
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Lab Name & <br>Address</td>
                          <td style="border: 2px solid black; border-collapse: collapse;"><span><b>M/s {{cert_u_obj.company_name}} </b></span><br> Registered Office Address:{{cert_u_obj.Company_add_1}} {{cert_u_obj.Company_add_2}}, {{cert_u_obj.Company_dist}}, {{cert_u_obj.Company_state}}, <br> {{cert_u_obj.Company_pin_code}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">TC No.</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">{{cert_u_obj.nabl_cert_number}} <b> ( </b>{{cert_u_obj.nabl_accredited_issue}} to {{cert_u_obj.nabl_accredited_expiry}} <b> )</b></td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Registration No.</td>
                          <td style="border: 2px solid black; border-collapse: collapse;"><b>{{cert_u_obj.no}}</b></td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Date of Issue</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">{{cert_u_obj.day}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Valid up To</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">{{cert_u_obj.nabl_cert_exp}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Application for</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">MP Discom(CZ/EZ/WZ)</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td rowspan="3" style="margin-top: 10px; border: 2px solid black; border-collapse: collapse;"><b>*Name of items</b></td>
                          <td style="border: 2px solid black; border-collapse: collapse;">
                              <table style="padding:20px; width:100%; border:2px solid black;">
                                  {% for mat in cert_list  %}  
                                  <tr style="border: 2px solid black; border-collapse: collapse;">
                                      <th style="width:5%; border: 2px solid black; border-collapse: collapse;">{{ forloop.counter }} </th>
                                      <td style="width:95%; border: 2px solid black; border-collapse: collapse;">{{ mat }} .</td>
                                  </tr>
                                  {% endfor %}
                              </table>     
                          </td>          
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td>
                              <span style="font-size:15px;float:left"><i>*Remark:- Subject to NABL scope of testing</i></span>
                              <table style="margin-top:10px;float:right; border: 2px solid black; border-collapse: collapse;" >
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td id="example2"></td>
                                  </tr>
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td>Signed by:<b>{{cert_u_obj.designation}}</b></td>
                                  </tr>
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td>upload your digital signature</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      
      {% elif cert_u_obj.User_type == "VENDOR"  %} <!-- NABL ELSE VENDOR IF -->
      <div class="auto-mx" style="width:100%; padding:5px; text-align:center; border: 10px solid black">
          <div class="auto-mx" style="padding:2px; text-align:center; border: 4px solid black">
              <table style="padding:20px; width:100%; border: 2px solid black;">
                  <tr>
                      <td><img src="{% static 'assets\images\mpmk.png' %}" alt="" border=3 height=120 width=150></img></td>
                      <td align ="justify"><span style="font-size:24px; font-weight:bold;text-align: center;">M.P. MADHYA KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:144px"><i>(Government of M. P. Undertaking)</i></span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:66px">Regd. Office: Nishtha Parisar, Govindpura Bhopal 462023</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:170px"> Website portal.mpcz.in</span>
                          <br>
                          <span style="font-size:20px; font-weight:bold;margin-left:113px">CIN NUMBER: U40109MP2002SGC015119</span>
                      </td>
                  </tr>
              </table>
              <hr style="height:2px;border-width:0;color:black;background-color:black;" />
              <h3 class="text-center text-primary font-weight-bolder" style="color: blue;">VENDOR REGISTRATION CERTIFICATE</h3>
              <table class="table table-bordered table-sm" style="font-size:18px; border: 2px solid black; border-collapse: collapse;">
                  <tbody>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Company Name & <br>Address</td>
                          <td style="border: 2px solid black; border-collapse: collapse;"><span><b>M/s {{cert_u_obj.company_name}} </b></span><br> Registered Office Address:{{cert_u_obj.Company_add_1}} {{cert_u_obj.Company_add_2}}, {{cert_u_obj.Company_dist}}, {{cert_u_obj.Company_state}}, <br> {{cert_u_obj.Company_pin_code}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Registration No.</td>
                          <td style="border: 2px solid black; border-collapse: collapse;"><b>{{cert_u_obj.no}}</b></td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Date of Issue</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">{{cert_u_obj.day}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Valid up To</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">{{cert_u_obj.valid_upto}}</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td style="border: 2px solid black; border-collapse: collapse;">Area of supply</td>
                          <td style="border: 2px solid black; border-collapse: collapse;">MP Discom(CZ/EZ/WZ)</td>
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td rowspan="3" style="margin-top: 10px;border: 2px solid black; border-collapse: collapse;"><b>Equipments/Items</b></td>
                          <td style="border: 2px solid black; border-collapse: collapse;">
                              <table style="padding:20px; width:100%; border:2px solid black;">
                                  {% for mat in cert_list  %}  
                                  <tr style="border: 2px solid black; border-collapse: collapse;">
                                      <th style="width:5%; border: 2px solid black; border-collapse: collapse;">{{ forloop.counter }} </th>
                                      <td style="width:95%; border: 2px solid black; border-collapse: collapse;">{{ mat }} .</td>
                                  </tr>
                                  {% endfor %}
                              </table>     
                          </td>          
                      </tr>
                      <tr class="text-center" style="border: 2px solid black; border-collapse: collapse;">
                          <td>
                              <table style="margin-top:10px;float:right; border: 2px solid black; border-collapse: collapse;" >
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td id="example2"></td>
                                  </tr>
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td>Signed by:<b>{{cert_u_obj.designation}}</b></td>
                                  </tr>
                                  <tr style="border: 2px solid black; border-collapse: collapse;" class="text-center">
                                      <td>upload your digital signature</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}



    <div class="auto-mx" style="width:30cm; height:41cm; padding:10px; padding-top:10px; text-align:center; border: 10px solid black">
        <div class="auto-mx" style="width:28.8cm; height:40cm; padding:10px; padding-top:10px; text-align:center; border: 5px solid black">
            {% if User_Zone == "CZ" %}
            <img src="{% static 'assets\images\mpmk.png' %}" style="width:20%; height:15%" alt="mpmk" class="center"> 
            <span style="font-size:26px; font-weight:bold">M.P. MADHYA KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
            <br>
            <span style="font-size:22px; font-weight:bold"><i>(Government of M. P. Undertaking)</i></span>
            <br>
            <span style="font-size:22px; font-weight:bold">Regd. Office: Nishtha Parisar, Govindpura Bhopal 462023</span>
            <br>
            <span style="font-size:22px; font-weight:bold"> 0755-2601300, Ext-501, Website portal.mpcz.in</span>
            <br>
            <span style="font-size:22px; font-weight:bold">CIN NUMBER: U40109MP2002SGC015119</span>
            
            {% elif User_Zone == "EZ" %}   
                <img src="{% static 'assets\images\mppok.png' %}" style="width:20%; height:15%" alt="mppok" class="center"> 
                <span style="font-size:26px; font-weight:bold">M.P. POORV KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
                <br>
                <span style="font-size:22px; font-weight:bold"><i>(Government of M. P. Undertaking)</i></span>
                <br>
                <span style="font-size:22px; font-weight:bold">Regd. Office: Shakti Bhawan, PO: Vidyut Nagar, Rampur, Jabalpur 482008</span>
                <br>
                <span style="font-size:22px; font-weight:bold"> 0761 - 2661795, 2702800 Website http://www.mpez.co.in/ </span>
                <br>
                <span style="font-size:22px; font-weight:bold">CIN NUMBER: U40109MP2002SGC015120</span>
            {% elif User_Zone == "WZ" %}
                <img src="{% static 'assets\images\mppk.png' %}" style="width:20%; height:15%" alt="mppk" class="center"> 
                <span style="font-size:26px; font-weight:bold">M.P. PASCHIM KSHETRA VIDYUT VITRAN COMPANY LIMITED</span>
                <br>
                <span style="font-size:22px; font-weight:bold"><i>(Government of M. P. Undertaking)</i></span>
                <br>
                <span style="font-size:22px; font-weight:bold">Regd. Office: GPH Compound polo ground, Indore 452003</span>
                <br>
                <span style="font-size:22px; font-weight:bold">  0731 - 2426109, 2426166 & 2426111/144,  Website http://www.mpwz.co.in/</span>
                <br>
                <span style="font-size:22px; font-weight:bold">CIN NUMBER: U40109MP2002SGC015121</span>
            {% endif %}
    
            <br>      
            <span style="font-size:20px"><i>*********************************************************************************</i></span>
            <br>
            <br>
            <br>
            <br>
            <br>
            <span style="font-size:24px"><i>This is to certify that</i></span>
            <br>
            <br>
            <span style="font-size:30px"><b>M/s {{company_name}}</b></span>
            <br>
            <br>
            <span style="font-size:30px">Authorised Person: <b>{{Authorised_person_E}}</b></span>
            <br>
            <br>
            <span style="font-size:22px">Registered Office Address: <b>{{Company_add_1}} {{Company_add_2}}, {{Company_dist}}, {{Company_state}}, {{Company_pin_code}} </b></span>
            <br>
            <br>
            <br>
            <br>
            <br>	
            <span style="font-size:24px">Registration number: </span><span style="font-size:26px"><b>{{no}}</b></span>
            <br>
            <br>
            <span style="font-size:22px">Is registered as <b>{{ tkc_class_contractor}}</b> Class Contractor</span>
            <br>
            <br>
            <span style="font-size:22px">Date of Issue: {{day}}</span>
            <br>
            <br>
            <span style="font-size:22px">Valid up to: {{electic_liecense_date}}</span><br>
            
            <div style="display:table;" style="padding:35px; text-align:center; border: 20px solid black">    
                <table border="0" cellspacing="0" cellpadding="7" style="padding-left:80px; padding-bottom:0px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;">Signed by: <b> {{designation}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <svg width="300" height="150">
                                    <rect x="0" y="0" width="280" height="140" style="stroke:black;stroke-width:1;fill-opacity:0;stroke-opacity:0.5" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-size: 10px;">upload your digital signature here</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<table class="center" style="border: 2px solid white!important; border-collapse: collapse;">
          <tr>
            <th><button class="btn btn-primary"  style="text-align: center; font-size: 20px;" id="download" onclick="printpage()">Download Pdf </button></th>
                <form action="/uplaod_cert/{{no}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <th><input style="text-align: center; font-size: 20px;" type="file" id="digitalCert" name="digitalCert" required="required"></th> 
                    <th><input style="text-align: center; font-size: 20px;" type="submit" id="sub" value="Submit"></th>
                </form>
          </tr>
    </table>
<a href='/cgm_pending_tkc'><button class="btn btn-primary"  style="text-align: center; font-size: 20px;">Return to Dashboard</button></a>
<!-- <a href='/cgm_pending_tkc/User_Zone'><button class="btn btn-primary"  style="text-align: center; font-size: 20px;">Return to Dashboard</button></a> -->
</body>
</center>
</html>
<body>
{% endif %}  
</center>
</html>
