{% load static%}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static '/assets/img/mp-logo_0.png' %}">
  <title>
    Quality Monitoring Portal :Forgot Password
  </title>
  <!--  SEO tags      -->
  <meta name="description"
    content="Quality Monitoring Portal |Energy Department, Government of Madhya Pradesh is concerned with power policy framework and administrative control, safeguarding consumers’ interest, promotion of conventional energy sources and efficient power system in the state" />
  <meta name="keywords"
    content="Quality Monitoring Portal| Energy Department, Energy Department Government of Madhya Pradesh India" />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{% static '/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static '/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static '/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static '/assets/css/argon-dashboard.min28b5.css' %}" rel="stylesheet" />
  <!-- Anti-flicker snippet (recommended)  -->
  <link id="pagestyle" href="{% static '/css/rcastyle.css' %}" rel="stylesheet" />
  <style>
    .async-hide {
      opacity: 0 !important
    }
  </style>
  <script>
    (function (a, s, y, n, c, h, i, d, e) {
      s.className += ' ' + y;
      h.start = 1 * new Date;
      h.end = i = function () {
        s.className = s.className.replace(RegExp(' ?' + y), '')
      };
      (a[n] = a[n] || []).hide = h;
      setTimeout(function () {
        i();
        h.end = null
      }, c);
      h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
      'GTM-K9BGS8K': true
    });
  </script>
  <!-- Analytics-Optimize Snippet -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46172202-22', 'auto', {
      allowLinker: true
    });
    ga('set', 'anonymizeIp', true);
    ga('require', 'GTM-K9BGS8K');
    ga('require', 'displayfeatures');
    ga('require', 'linker');
    ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
  </script>
  <!-- end Analytics-Optimize Snippet -->
  <script type="text/javascript" src="../static/assets/js/validation/reg_login.js"></script>
  <script type="text/javascript" src="{% static '/assets/js/Validation/main_login.js' %}"></script>
</head>

<body class="" onload="cap()">



  <div class="ed-resetmsgbox-main">
    <div class="ed-resetmsgbox-block">
      <div class="ed-resetmsgbox-inner">
        <div class="ed-container-block">
          <div class="ed-informations">
            <i class="fa fa-check-circle-o"></i>
            <h1>Thank You</h1>
            <h4>
              Reset Mobile No.
            </h4>
            <p>
              Mobile No. reset link is sent to your email address.Please check your email.
            </p>

            <a href="/login" class="btn ed-submit ed-formsubmit">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>










<script src="{% static '/assets/js/core/popper.min.js' %}"></script>
<script src="{% static '/assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static '/assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<!-- Kanban scripts -->
<script src="{% static '/assets/js/plugins/dragula/dragula.min.js' %}"></script>
<script src="{% static '/assets/js/plugins/jkanban/jkanban.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static '/assets/js/argon-dashboard.min28b5.js' %}"></script>
</body>

</html>