{% extends 'rca/RCA_base.html' %}
{% load static %}
{% block pagetitle %} {% endblock pagetitle %}</li>
{% block body %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/Validation/vendor_sd.js"></script>
</head>

<div class="ed-card-inner mb-5">
    <div class="card-header">
        <h2>Bank Details</h2>
    </div>
    <div class="card-body">
        <div class="ed-tableinfo-block">
            <div class="table-responsive">
                <table class="table table-striped table-bordered ed-table-block ed-centertable " id="example2">
                     <tbody> 
                        <tr>
                            <th>PO number</th>
                            <td>MP{{data.rca_cell.user_zone}}WO{{data.id}} </td> 
                        </tr> 
                        <tr>
                            <th>Bank Name </th>
                            <td>{{data.bg_bank}} </td>

                        </tr> 
                        <tr>
                            <th>IFSC </th>
                            <td>{{data.ifsc}} </td>
                        </tr> 
                        <tr>
                            <th>Account No. </th>
                            <td>{{data.ac_number}} </td>
                        </tr> 
                        <tr>
                            <th>Account Holder Name </th>
                            <td>{{data.Account_Holder_Name}} </td>
                        </tr>

                    <tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
  

<div class="ed-card-inner">
    <div class="card-header">
        <h2>Bank Guarantee Details</h2>
    </div>
    <form action="/rca/rca_ven_bg_confirm/{{data.id}}" name="myForm" onsubmit="return validateForm()"
        method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="ed-tableinfo-block">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered ed-table-block ed-centertable " id="example2">
                        <tbody>  
                            <tr>
                                <th>PO number</th>
                                <td>MP{{data.rca_cell.user_zone}}WO{{data.id}} </td>

                            </tr>

                            <!-- <tr>
                                <td>Bank Name </td>
                                <td>{{data.bg_bank}} </td>

                            </tr>

                            <tr>
                                <td>IFSC </td>
                                <td>{{data.ifsc}} </td>
                            </tr>

                            <tr>
                                <td>Account No. </td>
                                <td>{{data.ac_number}} </td>
                            </tr>

                            <tr>
                                <td>Account Holder Name </td>
                                <td>{{data.Account_Holder_Name }} </td>

                            </tr> -->


                            <tr>
                                <th>Bank Guarantee No </th>
                                <td>{{data.bg_no}} </td>
                            </tr>

                            <tr>
                                <th>Issue Date </th>
                                <td>{{data.issue_date}} </td>
                            </tr>

                            <tr>
                                <th>Valid Upto </th>
                                <td>{{data.valid_date}} </td>
                            </tr>

                            <tr>
                                <th>Claim Date </th>
                                <td>{{data.claim_date}} </td>
                            </tr>

                            <tr>
                                <th>Amount </th>
                                <td>{{data.amount}} </td>
                            </tr>
                        

                            <tr>
                                <th>Bg Document </th>
                                <td> 
                                    <a href="{{data.rca_bg_upload.url}}" target="_blank" class="ed-links">
                                        <label class="ed-textinfo">
                                            <i class="fas fa-eye"></i>
                                            View
                                        </label>
                                    </a>   
                                </td>
                            </tr>

                            <tr>
                                {% if data.rca_bg_accept == 1 %}
                                <th>Acceptance Letter </th>
                                <td>  
                                    <a href="{{data.bg_acceptance_letter.url}}" target="_blank" class="ed-links">
                                        <label class="ed-textinfo">
                                            <i class="fas fa-eye"></i>
                                            View
                                        </label>
                                    </a>
                                </td>
                                {% else %}
                                <td>Acceptance Letter </td>
                                <td><b>Not Required</b></td>
                                {% endif %}

                            </tr>

                            {% if data.rca_bg_remark_flag == 1 %}
                            <tr>
                                <th>Remark </th>
                                <td>{{data.rca_bg_remark}} </td>
                            </tr>
                            {% endif %}  
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="form-group mt-3">
                <div class="form-action text-right"> 
                    {% if data.rca_bg_accept == 1 %}
                    <button class="btn ed-submit ed-formSubmit mr-2">
                        Accepted
                    </button>
                    {% elif data.rca_bg_accept == -1 %}
                    <button class="btn ed-submit btn-danger">
                        Rejected
                    </button>
                    {% endif %}  
                </div>  
            </div>
        </div>
    </form>
</div> 

<script>
    let dtElem = document.getElementById('bg_issu_date1');
    let maxDate = new Date();
    dtElem.max = formatDate(maxDate);
    function formatDate(date) {
        let dd = String(date.getDate()).padStart(2, '0');
        let mm = String(date.getMonth() + 1).padStart(2, '0');
        let yyyy = date.getFullYear();
        return `${yyyy}-${mm}-${dd}`;
    }
</script>

<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#bg_valid_upto1').attr('min', today);
</script>

{% endblock body %}