{% extends 'po/po_creater/creater_base.html' %}
{% load static %}
{% block pagetitle %} {% endblock pagetitle %}
{% block body %}
<style>
  .ed-tableinfo-block .dataTables_length {
      display: block;
  }

  .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
      background: #e5e9ed;
      color: #fff;
      border-color: #1b1c1c;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    width: 170px;
    margin: 5px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 160px;
    margin-top: 5px;
}
</style>
<div class="ed-information mb-4">
  <div class="card ed-card-block">
    <div class="card-header">
      <h2>
        View Di List 
      </h2>
    </div>
    <div class="card-body">
      <div class="ed-tableinfo-block mb-4">
        <div class="table-responsive">
          <table class="table table-striped display table-bordered text-center" id="po_view_DI_list">
            <thead class="table-dark">
              <tr>
                <th>Sr No.</th>
                <th>
                  PO No
                </th>
                <th>
                  DI No
                </th>
                <th>
                  Vendor Name
                </th>
                <th>
                  DI Subject
                </th>
                <th>
                  ERP DI No.
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for name in data%}
              <tr>
                <td>
                  {{ forloop.counter }}
                </td>
                <td>
                  {{name.po_no}}
                </td>
                <td>
                  {{name.erp_di_number}}
                </td>
                <td>
                  {{name.vendor.CompanyName_E}}
                </td>
                <td>
                  {{name.di_subject}}
                </td>
                <td>
                  {{name.erp_di_number}}
                </td>
                <!-- <td>
                        {{name.material.specification}}
                   </td> -->
                <td>
                  <!-- <a class="btn btn-primary btn-sm" href="/po/vendor_ins_approved/{{name.po.id}}/{{name.id}}" onclick="return confirm('Are you sure you want to accept ?');">
                              Accept
                          </a> -->
                  {% if name.di_send_to_approval_status == False %}
                  <a  href="/po/send_di_for_approval/{{name.id}}/{{name.erp_di_number}}">
                    <button class="btn btn-primary btn-sm">DI Send For Approval</button><br>
                  </a>
                  {% else %}
                  <button class="btn btn-success btn-sm">
                    DI sent
                  </button><br>
                  {% endif %}
                  {% if name.is_di_deleted == True%}
                  <button class="btn btn-danger btn-sm" > DI Rejected by {{officer.employ_name}} </button>
                  {% elif name.di_digital_upload_status == 1 %}
                  <!-- <a class="btn ed-submits btn-success" href="/po/creater_view_di/{{name.id}}/{{name.erp_di_number}}"
                    class="btn btn-success mr-3"> -->
                    <a  href="{{name.di_doc.url}}" target="_blank" ><button class="btn btn-primary btn-sm">View Approved DI</button> </a>
                    {% elif name.di_send_to_approval_status == False %}
                    <a class="btn btn-sm btn-danger" href="/po/di_delete/{{name.id}}" onclick="return(confirm('Are you sure, you want to deleted this DI')) ">
                      Delete
                    </a>
                    {% else %}
                  <button class="btn btn-warning btn-sm" >
                    DI Not Approved
                  </button>
                  {% endif %}

                  {% if name.mrc_status == True and name.nabl_status == 1 %}
                  
                  <a class="btn btn-sm btn-primary" href="/po/view_mrc_creator/{{name.erp_di_number}}">View MRC Status</a>

                  {% elif name.nabl_status == 1 and name.mrc_status == False %}
                  <span class="btn btn-sm  btn-success">
                    LOT Accepted and Sent for MRC
                  </span>
                  {% elif name.nabl_status == -1 %}
                  <span class="btn btn-sm  btn-danger">
                    LOT Rejected
                  </span>
                  {% else %}
                  <span class="btn btn-sm btn-warning">
                    Result Pending
                  </span>
                  {% endif %}
                  <!-- <a class="btn btn-success btn-sm" href="/po/vendor_offer_view/{{name.po.id}}/{{name.id}}" class="btn btn-success mr-3"> View Offer</a> -->
                  <!-- <a class="btn btn-success btn-sm" href="/po/procurement_status/{{name.po.id}}">Status</a> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      
      
  <div class="text-info">
    {% if msg1 %}
    {{ msg1 }}
    {% endif %}
  </div>
    </div>
  </div>
</div> 
<!-- /.card -->

</section>
<!-- /.content -->
</div> <!-- Main content -->

<script>
  $(document).ready(function () {
       $('#po_view_DI_list').DataTable({
           pagingType: 'full_numbers',
       });
   });
</script>

{% endblock body %}>