{% extends 'po/po_creater/creater_base.html' %}
{% load static %}
{% block pagetitle %} {% endblock pagetitle %}
{% block body %}
<style>
  .ed-tableinfo-block .dataTables_length {
      display: block;
  }

  .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
      background: #e5e9ed;
      color: #fff;
      border-color: #1b1c1c;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    width: 170px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-top: 12px;
}

</style>

<div class="ed-information mb-4">
  <div class="card ed-card-block">
    <div class="ed-card-inner">
      <div class="card-header">
        <h2>
          Bank Details
        </h2>
      </div>
      <div class="card-body">
        <div class="ed-tableinfo-block">
          <div class="table-responsive">
            <table class="table display table-bordered table-striped text-center" id="vendor_bank_details">
              <thead class="table-dark">
                <tr>
                  <th>S.No.</th>
                  <th>
                    PO No
                  </th>
                  <th>
                    Vendor Name
                  </th>
                  <th>
                    PO Subject
                  </th>
                  <th>
                    PO Date
                  </th>
                  <!-- <th>
                    View PO
                  </th>
                  <th>View Bank Details</th>
                  <th>
                    Approve
                  </th>
                  <th>
                    Reject
                  </th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for name in data %}
                <tr>
                  <td>
                    {{ forloop.counter }}
                  </td>
                  <td>{{name.po_no}} </td>
                  <td>{{name.vendor.CompanyName_E}} </td>
                  <td>{{name.po_subject}} </td>
                  <td>{{name.erp_created_date}}</td>
                  <td>
                    {% if name.Po_doc %}
                    <a href="{{name.Po_doc.url}}" target="_blank"><button class="btn btn-info btn-sm">View PO</button></a>
                    {% else %}
                    <button class="btn  btn-warning btn-sm">PO_doc Not Uploaded</button>
                    {% endif %}
                  <!-- </td>
                  <td> -->
                    {% if name.bank_details == 1 %}
                    <a href="/po/vender_bank_detail_view/{{name.id}}" target="_blank"> <button class="btn btn-info btn-sm">View BD</button></a>
                    {% else %}
                    <button class="btn btn-danger btn-sm">BD File Not Uploaded</button>
                    {% endif %}
                  <!-- </td>

                  <td> -->
                    {% if name.bank_details == 1 and name.bank_details_approved == 0 %}
                    <a  href="/po/vendor_bank_details_approved/{{name.id}}"
                      onclick="return confirm('Are you sure you want to Approve this Bank Details ?');">
                       <button class="btn  btn-primary btn-sm">Approve</button>
                    </a>
                    <a href="/po/vendor_bank_details_rejected/{{name.id}}"
                      onclick="return confirm('Are you sure you want to Reject this Bank Details ?');">
                       <button  class="btn btn-danger btn-sm">Reject</button>
                    </a>
                    {% elif name.bank_details_approved == -1 and name.bank_details == 0 %}
                    <button class="btn btn-danger btn-sm">Rejected</button>
                    {% elif name.bank_details_approved == 0 and name.bank_details == 0 %}
                    <!-- <button class="btn btn-warning btn-sm">Details Not Fill</button> -->
                    {% else %}
                    <button class="btn btn-success btn-sm">Approved</button>
                      {% endif %}
                  <!-- </td>

                  <td> -->
                    <!-- {% if name.bank_details == 1 and name.bank_details_approved == 0 %}

                    <a href="/po/vendor_bank_details_rejected/{{name.id}}"
                      onclick="return confirm('Are you sure you want to Reject?');">
                       <button  class="btn btn-danger btn-sm">Reject</button>
                    </a>

                    {% elif name.bank_details_approved == -1 and name.bank_details == 0 %}
                    <button class="btn btn-danger btn-sm">Rejected</button>
                    {% elif name.bank_details_approved == 0 and name.bank_details == 0 %}
                    <button class="btn  btn-warning btn-sm">Details Not Fill</button>
                    {% else %}
                    <button class="btn btn-success btn-sm">Approved</button>
                    {% endif %} -->
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







    <div id="dialog-container" class="ed-dialog-container">
      <div class="ed-modal-block" id="dialog-modal">
        <div class="ed-modal-content">
          <div class="ed-modal-header">
            <h4>Custom Alert Dialog</h4>
          </div>
          <div id="dialog-body" class="ed-modal-body">
            <p>
              This is the custom alert message. Click Ok to close this.
            </p>
          </div>
          <div class="ed-dialog-footer">
            <button class="btn ed-alertsubmit" onclick="CustomAlert.close()">
              <span class="ed-submit-text">
                Ok
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#vendor_bank_details').DataTable({
            pagingType: 'full_numbers',
        });
    });
    </script>
    

    {% endblock body %}