{% extends 'po/procurement_base.html' %}
 {% load static %}
 {% block pagetitle %}  {% endblock pagetitle %}</li>
 {% block body %}
   <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">All Purchase Order</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 10%">
                          PO No
                      </th>
                      <th style="width: 20%">
                          Item Category
                      </th>
                      <th>
                          item Name
                      </th>
                      <th>
                          item Quantity
                      </th>
                      <th style="width:10%">
                          Item Class(A/B/C)
                      </th>
                        <th style="width:20%">

                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for name in data%}
                  <tr>
                      <td>
                         {{ forloop.counter }}
                      </td>
                      <td>
                         <b>MPCZ00{{name.id}}</b>
                      </td>
                      <td>
                          {{name.item_category}}
                      </td>
                      <td class="project_progress">
                              {{name.item_name}}
                      </td>
                      <td>
                           {{name.item_quantity}}
                      </td>
                      <td>
                          {{name.item_class}}
                      </td>
                        <td>
                              <td class="project-actions text-right">
                          {% if name.offer_approved and not name.di_status %}
                          <a class="btn btn-primary btn-sm float-left" href="/procurement_Di_Issue/{{name.id}}">
                              Issue DI
                          </a>
                          {% endif %}
                          {% if name.local_store_approved %}
                          <a class="btn btn-primary btn-sm float-left" href="">
                              Item In Local Store
                          </a>
                          {% endif %}

                      </td>
                      </td>
                  </tr>
              {% endfor %}

           </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

{% endblock body %}