{% extends 'ps-dashboard/psBase.html' %} {% load static %} {% block body %}

<style>
    .ed-tableinfo-block .dataTables_length {
        display: block;
    }
  
    .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
        background: #e5e9ed;
        color: #fff;
        border-color: #1b1c1c;
    }
    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: bold;
        text-align: center;
    }
  </style>
<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            All Discoms PDI's List
        </h2>
    </div>

    <div class="card-body">
        <div class="ed-tableinfo-block ">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="vendor_purchase_B">
                    <thead class="table-dark">
                        <tr>
                            <th class="w-5">S.No.</th>
                            <th>Discom</th>
                            <th>Total PDI Assigned</th>
                            <th>Approved PDI's</th>
                            <th>PDI's Pending for Inspection </th>
                            <th>PDI's Pending for Approval </th>
                            <th>Rejected / Fake Called PDI's </th>

                            <th >PDI's Pending for Assign  </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in discom_list %}
                        <tr>
                        
                            
                            <td>
                               <b> {{forloop.counter}}</b>
                            </td>

                            <td>
                                <b>{% if i == 'CZ' %}
                                    Central Zone (CZ)
                                    {% elif i == 'EZ' %}
                                    East Zone (EZ)
                                    {% elif i == 'WZ' %}
                                    West Zone (WZ)
                                    {% endif %}</b>
                            </td>
                            <td>
                                <b> {% if i == 'CZ' %}
                                    <a href="/fqp/all_assigned_pdi_ps/CZ">
                                        {{cz_assigned_pdi}}
                                    </a>
                             {% elif i == 'EZ' %}
                             <a href="/fqp/all_assigned_pdi_ps/EZ">
                                {{ez_assigned_pdi}}
                            </a>
                                 
                             {% elif i == 'WZ' %}
                             <a href="/fqp/all_assigned_pdi_ps/WZ">
                                {{wz_assigned_pdi}}
                            </a>
                                 
                             {% endif %}</b>
                             </td>
                            <td>
                                <b> {% if i == 'CZ' %}
                                    <a href="/fqp/all_approved_pdi_ps/CZ">
                                        {{cz_pdi_approved_data}}
                                    </a>
                                 
                             {% elif i == 'EZ' %}
                             <a href="/fqp/all_approved_pdi_ps/EZ">
                                {{ez_pdi_approved_data}}
                            </a>
                             {% elif i == 'WZ' %}
                             <a href="/fqp/all_approved_pdi_ps/WZ">
                                {{wz_pdi_approved_data}}
                            </a>
                             {% endif %}</b>
                             </td>
                            

                            <td id="pdi_pending_{{forloop.counter}}"  onmouseover="pdiPending(id)">
                               <b> {% if i == 'CZ' %}
                                <a href="/fqp/all_pending_ins_pdi_ps/CZ" class="pdi_pending_{{forloop.counter}}">
                                    {{cz_pdi_pending_ins_data}}
                                </a>
                                
                            {% elif i == 'EZ' %}
                            <a href="/fqp/all_pending_ins_pdi_ps/EZ" class="pdi_pending_{{forloop.counter}}">
                                 {{ez_pdi_pending_ins_data}}
                            </a>
                            {% elif i == 'WZ' %}
                            <a href="/fqp/all_pending_ins_pdi_ps/WZ" class="pdi_pending_{{forloop.counter}}">
                                 {{wz_pdi_pending_ins_data}}
                            </a>
                            {% endif %}</b>
                            </td>
                           
                            <td id="pdi_pending1_{{forloop.counter}}"  onmouseover="pdiPending(id)">
                                <b> {% if i == 'CZ' %}
                                    <a href="/fqp/all_pending_pdi_appr_ps/CZ" class="pdi_pending1_{{forloop.counter}}">
                                        {{cz_pdi_pending_data}}
                                    </a>
                                 
                             {% elif i == 'EZ' %}
                             <a href="/fqp/all_pending_pdi_appr_ps/EZ" class="pdi_pending1_{{forloop.counter}}">
                                {{ez_pdi_pending_data}}
                            </a>
                             {% elif i == 'WZ' %}
                             <a href="/fqp/all_pending_pdi_appr_ps/WZ" class="pdi_pending1_{{forloop.counter}}">
                                {{wz_pdi_pending_data}}
                             </a>
                             {% endif %}</b>
                             </td>
                             <td id="pdi_pending2_{{forloop.counter}}"  onmouseover="pdiPending(id)">
                                <b> {% if i == 'CZ' %}
                                    <a href="/fqp/all_rejected_pdi_ps/CZ" class="pdi_pending2_{{forloop.counter}}">
                                        {{cz_pdi_rejected_data}}
                                     </a>
                                 
                             {% elif i == 'EZ' %}
                             <a href="/fqp/all_rejected_pdi_ps/EZ" class="pdi_pending2_{{forloop.counter}}">
                                {{wz_pdi_rejected_data}}
                             </a>
                             {% elif i == 'WZ' %}
                             <a href="/fqp/all_rejected_pdi_ps/WZ" class="pdi_pending2_{{forloop.counter}}">
                                {{wz_pdi_rejected_data}}
                             </a>
                             {% endif %}</b>
                             </td>
                             <td id="pdi_pending3_{{forloop.counter}}"  onmouseover="pdiPending(id)">
                                <b> {% if i == 'CZ' %}
                                    <a href="/fqp/pdi_pending_assign_ps/CZ" class="pdi_pending3_{{forloop.counter}}">
                                        {{cz_pending_assign}}
                                     </a>
                                 
                             {% elif i == 'EZ' %}
                             <a href="/fqp/pdi_pending_assign_ps/EZ" class="pdi_pending3_{{forloop.counter}}">
                                {{ez_pending_assign}}
                             </a>
                             {% elif i == 'WZ' %}
                             <a href="/fqp/pdi_pending_assign_ps/WZ" class="pdi_pending3_{{forloop.counter}}" >
                                {{ez_pending_assign}}
                             </a>
                              
                             {% endif %}</b>
                             </td>

                            

                            {% comment %} <td>
                                <a href="/fqp/Dispatch-Instruction-Discom-Data/{{i}}" class="ed-links">
                                    <button class="btn btn-info btn-sm">
                                        <span >
                                            View PDI's
                                        </span>
                                    </button> 
                                </a>
                            </td> {% endcomment %}
                            </tr>
                       
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function pdiPending(pdi_pending_id){
    var pdi_pending = document.getElementById(pdi_pending_id).innerText;
   if(pdi_pending == 0){
    const buttons = document.getElementsByClassName(pdi_pending_id);
    buttons[0].removeAttribute('href');
  } 
}

    </script>


<script>
    $(document).ready( function () {
    $('#vendor_purchase_B').DataTable();
} );
</script>


{% endblock body %}