{% extends 'psBase.html' %} {% load static %} {% block body %}




<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            Page title
        </h2>
    </div>

    <div class="card-body">
        <div class="forms-informations">
            <div class="ed-form-block p-0 border-0">
                <div class="ed-form-body">

                    <div class="form-group">
                        <label class="ed-form-label">
                            Form info
                            <span class="text-danger">* </span>
                        </label>
                        <input type="text" class="form-control ed-textbox">
                    </div>

                    <div class="form-group">
                        <label class="ed-form-label">
                            Form info
                            <span class="text-danger">* </span>
                        </label>
                        <input type="text" class="form-control ed-textbox">
                    </div>

                    <div class="form-group">
                        <label class="ed-form-label">
                            Form info
                            <span class="text-danger">* </span>
                        </label>
                        <input type="text" class="form-control ed-textbox">
                    </div>

                    <div class="form-group mt-2">
                        <div class="btn-actionblock text-right">
                            <button id="loginButton" type="submit" class="btn ed-submit ed-formsubmit">
                                Submit Code
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock body %}