{% extends 'ps-dashboard/psBase.html' %} {% load static %} {% block body %}
<style>
    .ed-tableinfo-block .dataTables_length {
        display: block;
    }
  
    .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
        background: #e5e9ed;
        color: #fff;
        border-color: #1b1c1c;
    }
  </style>

<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            Work Order Offers List 
        </h2>
        <h6>
            <p><b>Work Order No. - {{wo_data.Contract_Number}}</b></p>
            <p><b>TKC/Supplier - {{wo_data.supplier.CompanyName_E}}</b></p>
        </h6>
    </div>

    <div class="card-body">
        <div class="ed-tableinfo-block ">
            <div class="table-responsive">
                <table class="table  table-bordered  text-center display " id="vendor_purchase_B">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">S.No.</th>
                            <th class="text-center" >Offer No.</th>
                            <th class="text-center">Offer Date</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Offer Letter</th>
                            <th class="text-center">Actions</th>


                        </tr>
                    </thead>
                    <tbody>
                       
                            {% for i in wo_offer_data %}
                            <tr>
                            <td>
                                <b>{{forloop.counter}}</b>
                            </td>

                            <td>
                                <b>{{i.offer_no}}</b>
                            </td>
                            <td>
                                <b>{{i.created_at|date}}</b>
                            </td>

                            <td>
                                <button class="btn  btn-success btn-sm">
                                    <span >
                                        Approved
                                    </span>
                                </button>   
                            </td>

                            <td>
                                {% if i.offer_material_docs %}
                                <a href="{{i.offer_material_docs.url}}" target="_blank" class="ed-links">
                                    <button class="btn  btn-info btn-sm">
                                        <span >
                                            View
                                        </span>
                                    </button>                 
                                </a>
                                {% else %}
                                <a href="# " class="ed-links" style="cursor: pointer;">
                                    <button class="btn  btn-danger btn-sm">
                                        <span >
                                            Not Available
                                        </span>
                                    </button>
                                </a>
                                {% endif %}
                            </td>
                            
                            <td>
                                <a href="/fqp/Offer-Data-Details/{{i.offer_no}}/{{i.wo.id}}"  class="ed-links">
                                    <button class="btn  btn-info btn-sm">
                                        <span >
                                            View Offer Details
                                        </span>
                                    </button>
                                </a>
                             </td>
                            </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 <script>
    $(document).ready( function () {
    $('#vendor_purchase_B').DataTable();
} );
</script> 



{% endblock body %}