{% extends 'tkc/creater_base.html' %}
{% load static %}
{% block body %}


<style>
    .ed-tableinfo-block .dataTables_length {
        display: block;
    }
  
    .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
        background: #e5e9ed;
        color: #fff;
        border-color: #1b1c1c;
    }
  </style>
  <div class="ed-information">
      <div class="card ed-card-block">
        <div class="ed-card-inner">
          <div class="card-header">
            <h2>
                Offered Material Details
            </h2>
          </div>
          <div class="card-body">
            <div class="ed-tableinfo-block">
              <div class="table-responsive">
                <table id="offered_data" class="table table-bordered table-hover display">
                    <thead class="table-dark">
                      <tr>
                        <th>
                            Sr No.
                       </th>
                          <th style="width:30%">
                               Offer No.
                          </th>
                          <th style="width:20%">
                               Vendor
                          </th>
                           <th style="width:20%">
                            Material Name
                          </th>
                          <th style="width:20%">
                            Item Code
                          </th>
                          <th style="width:10%">
                              Offer Quantity
                          </th>
                          <th style="width:10%">
                            Offer Date
                        </th>
                        <th style="width:10%">
                            Offer Acceptance Date
                        </th>
                          <th style="width:20%">
                            Site Store 
                        </th>
                        <th style="width:10%" >Acceptance Letter</th>
                        <th style="width:10%">
                            PDI Report
                        </th>
                        <th style="width:15%" >Status</th>
                        </tr>
                    </thead>
                
                    {% for data in offer_data %}
                    <tr>
                        <td>{{forloop.counter}}</td>

                        <td>{{data.offer_no}}</td>
                         <td>{{data.TKCVendor.Vendor.CompanyName_E}}</td>
                        <td>{{data.wo_material.material_name}}</td>
                         <td>{{data.wo_material.item_code}}</td>
                         <td>{{data.quantity}}</td>
                         <td>{{data.Material_Offer_Submit_Submit_At}}</td>
                         <td>{{data.Material_Offer_Submit_Approved_At}}</td>

                         <td>{{data.site_store}}</td>
                        <td>
                            {% if data.TKCVendor.other_acceptance_rejection_doc %}
                            <a href="{{data.TKCVendor.other_acceptance_rejection_doc.url}}" class="btn ed-submit btn-success">
                                <span class="ed-submit-text">
                                    View
                                </span>
                            </a>
                            {% else %}
                            <a href="" class="btn ed-submit btn-danger">
                                <span class="ed-submit-text">
                                    Not Available
                                </span>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            
                            {% if data.PDI.pdi_report %}
                            <a href="{{data.PDI.pdi_report.url}}" class="btn ed-submit btn-success">
                                <span class="ed-submit-text">
                                    View
                                </span>
                            </a>
                            {% elif data.PDI.pdi_report_url %}
                            <a href="{{data.PDI.pdi_report_url}}" class="btn ed-submit btn-success">
                                <span class="ed-submit-text">
                                    View
                                </span>
                            </a>
                            {% else %}
                            <a href="" class="btn ed-submit btn-danger">
                                <span class="ed-submit-text">
                                    Not Available
                                </span>
                            </a>
                            {% endif %}
                        </td>
                        
                         <td> {% if data.Material_Offer_Submit_Approved_Status == 1 %}
                                <span class="btn ed-submit btn-success">
                                    Approved
                                </span>
                                {% elif data.Material_Offer_Submit_Approved_Status == -1 %}
                                <span class="btn ed-submit btn-danger">
                                    Rejected
                                </span>
                            {% else %}
                                <span class="btn ed-submit btn-primary">
                                    Pending for Approval
                                </span>
                            </a>
                            {% endif %}</td>
                          <!-- <td>{{data.Material_id.Material_Name}} -->


                  </tr>
                    {% endfor %}
                </table>
              </div>
                       </div>
                   </div>
                </div>
            </div>


          <!-- /.card-body -->
<script>
function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}

</script>
<script>
    $(document).ready( function () {
        $('#offered_data').DataTable();
    } );
</script>
{% endblock body %}