{% extends 'nabl/nabl_Base.html' %} {% load static %} {% block body %}
<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            Profile Status 
        </h2>
    </div>
    <div class="card-body">
        <div class="ed-tableinfo-block mb-5">
            <div class="table-responsive">
                <table class="table table-striped table-bordered ed-table-block ed-centertable text-center"
                    id="example2">
                    <thead>
                        <tr>
                            <th>Profile Status</th>
                            <th>Status on DGM(QC)</th>
                            <th>Status on CGM(QC)</th>
                            <th>Final Reg Nuumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data11 %}
                        <tr>
                            {% if data.Complete_Details == 1 %}
                            <td><span class="btn btn-success btn-sm">Complete</span></td>
                            {% else %}
                            <td><span class="btn btn-warning btn-sm">Pending(upload document)</span></td>
                            {% endif %}
                            {% if data.qc_approval == 1 %}
                            <td><span class="btn btn-success btn-sm">Approve</span></td>
                            {% elif data.qc_approval == 2 %}
                            <td><span class="btn btn-danger btn-sm">Rejected</span></td>
                            {% else %}
                            <td><span class="btn btn-warning btn-sm">Pending</span></td>
                            {% endif %}

                            {% if data.cgm_approval == 1 %}
                            <td><span class="btn btn-success btn-sm">Approve</span></td>
                            {% elif data.cgm_approval == 2 %}
                            <td><span class="btn btn-danger btn-sm">Rejected</span></td>
                            {% else %}
                            <td><span class="btn btn-warning btn-sm">Pending</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock body %}