{% extends 'tkc/site_store_base.html' %} {% load static %} {% block body %} 


  <!-- Main content -->
   <section class="content">
     
  
     <!-- Default box -->
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">Sampled Material</h3>

         
       </div>
    
       <div class="card-body p-0">
         <table class="table table-striped projects">
             <thead>
                 <tr>
                     <th >
                         s No.
                     </th>
                    
                     <th>
                         item Name 
                     </th>
                     <th>
                         Serial Number/Betch Number
                     </th>
                     <th>
                      Circle Name
                  </th>
                
                   
                 </tr>
             </thead>
             <tbody>
               {% for name in data %}
                 <tr>
                     <td>
                        {{ forloop.counter }}
                     </td>
                     <td>
                        <b>{{name.offer.wo_material.material_name}}</b>
                     </td>
                    
                      {% if name.offer.excel_type == True %}
                      <td class="project_progress">
                              {{name.serial_no}}
                      </td>
                      {% elif name.offer.excel_type == False %}
 
                         <td class="project_progress">
                           {{name.batch_no}}
                           </td>
 
                           {% endif %}
 

                     <td>
                      {{name.offer.circle.Circle_Name_E}}              </td>
                  
                   
                   
                   

                    
                   </tr>
             {% endfor %}
           

          </tbody>
         </table>
     
       </div>
       </form>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->

   </section>
   <!-- /.content -->
 </div>


{% endblock body %}