{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">

<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <br/>
    <style type="text/css">
        p {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<script>
    function printpage() {
        //Get the print button and put it into a variable
        var printButton1 = document.getElementById("printpagebutton1");
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton1.style.visibility = 'hidden';
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        printButton.style.visibility = 'visible';
        printButton1.style.visibility = 'visible';

    }
</script>

<body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div id="page1-div" style="position:relative;width:894px;height:1263px;">
        <link rel="icon" type="image/png" href="{% static '/assets/img/target001.png' %}" />

        <img width="894" height="1263" src="{% static '/assets/img/target001.png' %}" alt="background image" />
    </div>
</body>

</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">

<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <br/>
    <style type="text/css">
        p {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body vlink="blue" link="blue">
    <div id="page2-div" style="position:relative;width:894px;height:1263px;">
        <img width="894" height="1263" src="{% static '/assets/img/target002.png' %}" alt="background image" />
        <link rel="icon" type="image/png" href="{% static '/assets/img/target002.png' %}" />

    </div>
</body>

</html>

<script>
    function printpage() {
        //Get the print button and put it into a variable
        var printButton1 = document.getElementById("printpagebutton1");
        var printButton = document.getElementById("printpagebutton");
        //Set the print button visibility to 'hidden'
        printButton1.style.visibility = 'hidden';
        printButton.style.visibility = 'hidden';
        //Print the page content
        window.print()
        printButton.style.visibility = 'visible';
        printButton1.style.visibility = 'visible';

    }
</script>
<center>
    <!-- {% if user1 %}
      <div>
            <input id="printpagebutton" class="btn btn-primary btn-sm" type="button" value="Print Invoice" onclick="printpage()"/>
            <a href="/ca/basic"> <button  id="printpagebutton1" type="Submit" class="btn btn-primary btn-sm">Return to Dashboard</button> </a>
      </div>
      {% endif %}

      {% if user2 %}
      <div>
            <input id="printpagebutton" class="btn btn-primary btn-sm" type="button" value="Print Invoice" onclick="printpage()"/>
            <a href="/"> <button  id="printpagebutton1" type="Submit" class="btn btn-primary btn-sm">Return to Dashboard</button> </a>
      </div>
      {% endif %}

      {% if user3 %}
      <div>
            <input id="printpagebutton" class="btn btn-primary btn-sm" type="button" value="Print Invoice" onclick="printpage()"/>
            <a href="/ca/basic"> <button  id="printpagebutton1" type="Submit" class="btn btn-primary btn-sm">Return to Dashboard</button> </a>
      </div>
      {% endif %} -->

</center>

</script>
<center>
    <div>
        <input id="printpagebutton" class="btn btn-primary btn-sm" type="button" value="Print Invoice" onclick="printpage()" />
        <a href="/ca/agents_details_ce_pending"> <button id="printpagebutton1" type="Submit" class="btn btn-primary btn-sm">Return to Dashboard</button> </a>
        <a href="/ca/mpeb_login"> <button id="printpagebutton1" type="Submit" class="btn btn-primary btn-sm"></button> </a>
    </div>
</center>


</body>

</html>