
{% load static%}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/jpg" href="{% static '/assets/img/energy_logo.jpg' %}" />
   <title>Collection Agent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet"> -->
    <script>
        function printpage() {
            //Get the print button and put it into a variable
            var printButton1 = document.getElementById("return");
            var printButton = document.getElementById("printpagebutton");
            //Set the print button visibility to 'hidden'
            printButton1.style.visibility = 'hidden';
            printButton.style.visibility = 'hidden';
            //Print the page content
            window.print()
            printButton.style.visibility = 'visible';
            printButton1.style.visibility = 'visible';
        }
    </script>
</head>
<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }
    
    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }
    
    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }
    
    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <div class="card">
       Madhya Pradesh Madhya Kshetra Vidyut Vitaran Company Limited<br>
    (Govt. of M.P Undertaking)<br>
    NISTHA PARISAR GOVINDPURA BHOPAL MP(462023)<br>
        Ph:2602033,2602034,2588377,FAX- 258921
        <hr>
        <!-- <h5 class="card-header">Payment Invoice </h5> -->
    

    <div class="card-body">
 
    
    <!-- <p class="card-text">आपका भुगतान एवं पंजीकरण सफलतापूर्वक हो चुका है | </p><br>
    <p>यूजरनेम एवं पासवर्ड की जानकारी आपके ईमेल और मोबाइल पर सॉझा की जा चुकी हैं |</p><br> -->
    <table class="table table-borderless">

  <thead>
    <tr>
        <td>Invoice No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Invoice- {{data.Contractor_Id}}</td>
    </tr>
    <tr> <td>Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Security Deposit</td></tr>
    <tr> <td>Date &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{created_date}}</td></tr>
     <tr> <td>Payment Status : Paid</td></tr>
    <tr>
      <td scope="col">Name</td>
      <td scope="col">{{data.Name}}</td>
      <td scope="col">Collection Id</td>
      <td scope="col">{{data.Contractor_Id}}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Father Name</td>
      <td>{{data.Father_name}}</td>
      <td>Registration Type</td>
      <td>COLLECTION AGENT</td>
    </tr>
    <tr>
      <td scope="row">Mobile</td>
      <td>{{data.Mobile}}</td>
      <!-- <th>Thornton</th>
      <td>-------------</td> -->
    </tr>
    <tr>
      <td scope="row">Email</td>
      <td colspan="2">{{data.Email_Id}}</td>
     
    </tr>
    <tr>
      <td scope="row">Address</td>
      <td colspan="2">{{data.Add1}}</td>
     
    </tr>
  </tbody>
</table>
    <table class="table table-bordered">

  <thead>
    
    <tr>
      <th scope="col">#</th>
      <th scope="col">Charges</th>
      <th scope="col">Amount</th>
      
    </tr>
  </thead>
  <tbody>
   
    <tr>
      <td scope="row">1</td>
      <td  scope="row">Security Deposit</td>
      <td  scope="row">1000</td>
     
    </tr>
    <tr>
      <th colspan="2">Grand Total</th>
    
      <td  scope="row">1000</td>
     
    </tr>
    <tr>
      
    
      <td  scope="row">Amount In Words</td>
      <td colspan="2">Thousand Rupess Only</td>
     
    </tr>
  </tbody>
</table>

<br>
    <table style="margin-top:40px;float:right" >
       
        <tr>

            <td><span>Signed by: System Verified,<br>
                </td>
</tr>
<tr>
<td><span>Date: {{created_date}}</span></td>
        </tr>

        <tr>
            <td><span>Address: <b>{{data.Add1}}</b></span></td>
        </tr>
        <tr>
            <td style="width:200px;float:right;border:0;border-bottom:1px solid rgb(83, 210, 45); "></td>
        </tr>
        <tr>
            <td style="position:relative; left:40px; top:-100px; opacity: 0.2; "><span><b><img style="width:120px; height:120px " src="{% static 'assets\images\ok.jpeg ' %} "/></b></td>
</tr>
 <tr class="text-center">
    <td> <a href="#" class="btn btn-primary" onclick="window.print()">✓  Print Invoice </a></td></tr>

</table>

  
       
  </div>

       
</body>

</html>

