<!DOCTYPE html>
<html>

<body>
    <form action="/ca/pcv_invoice" method="get">

        <h2>Approve by commerical
        </h2>

        <form action="/action_page.php">
            <!-- <label for="fname">First name: </label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name: </label>
        <input type="text" id="lname" name="lname"><br><br> -->
            <input type="submit" value="Submit">
            <!-- <button type="button">Click Me!</button> -->

        </form>

        <!-- <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p> -->

</body>

</html>