{% extends 'fqp/Nodal/nodal_base.html' %}
{% load static %}
{% load wo_tag %}
{% block pagetitle %}  Item Details {% endblock pagetitle %}
{% block body %}

  <!-- Main content -->
   <section class="content">
     
    <form action="/fqp/fqp_select_material_for_getpass/{{dataid}}" method="post">
      {% csrf_token %}
      


     <!-- Default box -->
      
    
       <div class="card-body">
         <table class="table table-striped projects">
             <thead>
                 <tr>
                     <th style="width: 1%">
                         s No.
                     </th>
                     <th>
                        Select Received Materials 
                    </th>
                  
                     <th>
                         Item Name 
                     </th>
                     <th>
                         Serial Number
                     </th>
                  
                   
                   
                 </tr>
             </thead>
             <tbody>
               {% for name in data %}
                 <tr>
                     <td>
                        {{ forloop.counter }}
                     </td>
               

                       <td>{% if name.Status == 1 %} Sent  <input type="checkbox" name="{{name.id}}" value="1" checked hidden>  
                        
                        {% else %}
                        <input type="checkbox" name="{{name.id}}" value="2" >
                   {% endif %}</td>

                       <td>
                        <b>{{name.Offer_Material.TKCVendor.Material_id.Material_Specification}}</b>
                     </td>
                    
                     <td class="project_progress">
                             {{name.Item_Serial_No}}
                     </td>
                   
            

                
                   
                   

                    
                   </tr>
             {% endfor %}
           

          </tbody>
         </table>
         <br>
        <center><button class="btn-lg">Submit</button></center>
         <br>
       </div>
       </form>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->

   </section>
   <!-- /.content -->
 </div>


{% endblock body %}