{% extends 'po/area_store/areastore_base.html' %}
{% load static %}
{% block heading %} Repaired inward


{% endblock heading %}
{% block body %}




<div class="ed-card-inner">
    <div class="card-header">
        <h2>
            Work Order Information
        </h2>
    </div>
    <div class="card-body">
        <div class="ed-tableinfo-block mb-2">
            <!-- <h4 class="mb-2">
                Work Order Information
            </h4> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered display text-left">
                    <tbody>
                        <tr>
                            <td>Work Order No</td>
                            <td><b>MPCZ00{{ ro.wo.id}}</b></td>
                        </tr>
                        <tr>
                            <td>RCA Vendor Company name</td>
                            <td><b>{{ ro.wo.vendor_id.CompanyName_E}}</b></td>
                        </tr>
                        <tr>
                            <td> Material </td>
                            <td><b>{{ ro.wo.wo_specification}}</b></td>
                        </tr>
                        <tr>
                            <td> Release / Allotment No </td>
                            <td><b>RO00{{ro.id}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="ed-tableinfo-block mb-2">
            <!-- <h4 class="mb-2">
                Work Order Information
            </h4> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered  text-left">
                    <thead class="table-dark">
                        <tr>
                            <th> Rating </th>
                            <th> Description </th>
                            <th> Quantity </th>
                            <!-- <th> Rate </th>
                        <th> Total amount </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in material %}
                        <tr>
                            <td>{{data.rating}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.quantity}}</td>
                            <!-- <td>{{data.rate}}</td>
                            <td>{{data.total_rate}}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  

        <div class="ed-tableinfo-block mb-2">
            <h4 class="mb-2">
                Details of Sampled DTR are shown below
            </h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered display text-left">
                    <thead class="table-dark">
                        <tr>
                            <th> Rating </th>
                            <th> XMR Code </th>
                            <th> XMR Type </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in xmr_random1 %}

                        <tr>
                            <td>{{data.material.rating}}</td>
                            <td>{{data.xmr}}</td>
                            <td>
                                {% if data.new_design == 1 %}
                                <b>Non-Star(New Design)</b>
                                {% elif data.old_l1 == 1 %}
                                <b>Level-1(Old)</b>
                                {% elif data.old_l2 == 1 %}
                                <b>Level-2(Old)</b>
                                {% elif data.design_non_star == 1 %}
                                <b>Non-Star(Old Design)</b>
                                {% endif %}
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div> 

        <div class="form-group" id="printsinfo">
            <div class="form-action text-center">
                <button onclick="windoPrint()" class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>
</div>










    <script>
        function windoPrint() {
            document.getElementById('printsinfo').style.display = 'none';
            document.getElementById('headerMenu').style.display = 'none';

            $('.ed-footer-block ').hide();
            $('.edrca-contant-block').css('padding-top', '10px');
            window.print();
            document.getElementById('printsinfo').style.display = 'block';
            document.getElementById('headerMenu').style.display = 'block';
            $('.ed-footer-block ').show();
            $('.edrca-contant-block').css('padding-top', '85px');
        }


    </script>







    {% endblock body %}
