{% extends 'po/area_store/areastore_base.html' %} {% load static %} {% block heading %} Rapaired inward {% endblock heading %} {% block body %} {% block rca_to_nabl_list %}
<li class="nav-item active" style="list-style-type:none;">
    {% endblock rca_to_nabl_list %}
    <div class="container">
        <h5 class="font-weight-bolder">Dispatch To NABL</h5>
        <div class="panel panel-default">
            <!-- <div class="panel-heading">Panel Heading</div>
<div class="panel-body">Panel Content</div> -->
            <div class="table-responsive">
                <table class="table table-bordered table-responsive">
                    <thead class="table table-dark">
                        <tr>

                            <th class="text-center" style="width:10px;">
                                S.No
                            </th>
                            <th scope="col-2">Work Order No.</th>
                            <th scope="col-2">Vendor</th>
                            <th scope="col-2">Release Order No.</th>
                            <!-- <th scope="col-3">Store Name</th> -->
                            <th scope="col-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in data %}
                        <tr>
                            <td class="text-center">{{forloop.counter}}</td>
                            <td><b>MPCZWO{{ info.wo.id}}</b></td>
                            <td><b>{{ info.wo.vendor_id.CompanyName_E}}</b></td>
                            <td><b>RO00{{ info.id}}</b></td>
                            <!-- <td></b>{{ info.store.Name }}</b></td> -->
                            <td><a href="/po/rca_to_nabl/{{info.id}}" class="fas fa-eye text-primary">View</a></td>
                            <!-- <td><a href="/rca/repaired_dtr_view/{{info.id}}" class="fas fa-eye text-secondary">View</a></td> -->
                        </tr>

                        {% endfor %}
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock body %}