{% extends base_template_name %}



{% block body %}
{% block basic %}


<style>
    .ed-tableinfo-block .dataTables_length {
        display: block;
    }

    .ed-tableinfo-block .dataTables_paginate span .paginate_button.current {
        background: #e5e9ed;
        color: #fff;
        border-color: #1b1c1c;
    }
</style>
<div class="ed-infocontant">
    <div class="ed-information mb-4">
        <div class="card ed-card-block">
            <div class="card-header">
                <h2>
                    View Gate pass Information
                </h2>
            </div>

            <div class="card-body">
                <div class="ed-tableinfo-block ed-orderinfo-block">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered display" id="view_offer">
                            <thead class="table-dark">
                                <tr>
                                    <th class="wc1">Sr. No.</th>

                                    <th style="min-width:200px;">Offer No.</th>
                                    <!-- <th style="min-width:200px;">Di Erp No.</th> -->
                                    <th style="min-width:300px;">Site store</th>

                                    <th>Circle</th>
                                    <th>View Gatepass</th>
                                    <th>Create Gatepass</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in gate_pass_data %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{data.offer_no}}</td>
                                    <!-- <td>{{data.tkc_di_id.erp_di_number}}</td> -->
                                    <td>{{data.offer.site_store_fk.Store_Address}}</td>
                                    <td>{{data.offer.site_store_fk.Division.Circle}}</td>


                                    <td>
                                        {% if data.site_store_gatepass.gate_pass %}
                                        <a class="btn btn-primary"
                                            href="{{data.site_store_gatepass.gate_pass.url}}">View GatePass</a>
                                            {% else %}
                                            <a class="btn btn-primary" href="#">Gatepass Not Uploaded</a>
    
                                        {% endif %}
                                    </td>


                                    <td>
                                        {% if data.site_store_trf.TRFAreastore_file %}
                                        <a class="btn btn-primary"
                                            href="{{data.site_store_trf.TRFAreastore_file.url}}">View TRF</a>
                                        {% else %}
                                        <a class="btn btn-primary" href="/fqp/officer_create_wo_offer_trf/{{data.offer.tkc_di_id}}/{{data.site_store_gatepass_id}}/{{data.offer_no}}">Create TRF</a>
                                        {% endif %}
                                    </td>

                                    <!-- <td>
                                        {% if data.nabl_outward_gatepass %}
                                        <a class="btn btn-primary"
                                            href="{{data.nabl_outward_gatepass.gatepass_letter.url}}">View
                                            nabl_GatePass</a>
                                        {% else %}
                                        <a class="btn btn-primary"
                                            href="/nabl/tkc_nabl_gate_pass/{{data.site_store_gatepass_id}}/{{data.offer.offer_no}}">Generate
                                            GatePass</a>
                                        {% endif %}
                                    </td>  -->

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#view_offer').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>

{% endblock basic %}
{% endblock body %}